Repository obsidianmd/obsidian-releases, pull requests merged in 2022-05, with the labels that each got.

#930 Add ePub Reader Plugin
  community-plugins.json
Labels: Ready for review

#927 Add Pandoc Reference List plugin
  community-plugins.json
Labels: Changes requested

#932 Add `Obsidian Enhancing Export` plugin.
  community-plugins.json
Labels: Ready for review

#926 Add Release Timeline to community-plugins.json
  community-plugins.json
Labels: Ready for review

#936 Add Folder Focus Mode Plugin
  community-plugins.json
Labels: Ready for review

#949 Add Upcoming plugin
  community-plugins.json
Labels: Ready for review

#953 Add nuke-orphans plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#934 Add "Meta title filename" plugin
  community-plugins.json
Labels: Ready for review
