Repository obsidianmd/obsidian-releases, pull requests merged in 2022-11, with the labels that each got.

#970 Note content pusher
  community-plugins.json
Labels: Ready for review, Changes requested

#979 Add Tag Summary plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1004 Add plugin: Alias from heading
  community-plugins.json
Labels: Ready for review, Changes requested

#1053 Added obsidian-ocr to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1066 Add Gitlab Issues plugin
  community-plugins.json
Labels: Ready for review

#1084 Add "Obsidian-Account-Linker" Plugin
  community-plugins.json
Labels: Ready for review

#1094 Add Symbols Prettifier plugin
  community-plugins.json
Labels: Ready for review

#1204 adding Obsidian MtG plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1189 Add SynthWave theme
  community-css-themes.json
Labels: theme

#1236 Add the Oldsidian Purple theme
  community-css-themes.json
Labels: theme

#1287 add deeper work theme
  community-css-themes.json
Labels: Changes requested, theme

#1200 Add Floating TOC Plugin
  community-plugins.json
Labels: Ready for review

#1221 Add Checkbox 3 states plugin
  community-plugins.json
Labels: Ready for review

#1230 feat: add status-bar-quote plugin
  community-plugins.json
Labels: Ready for review

#1232 feat: add plugin for viewing qmd files
  community-plugins.json
Labels: Ready for review

#1238 Add obsidian-to-flomo plugin
  community-plugins.json
Labels: Ready for review

#1241 Add obsidian-things3-sync
  community-plugins.json
Labels: Ready for review

#1243 Mathpad 0.8.5 submission
  community-plugins.json
Labels: Ready for review

#1214 Add Micro Mike
  community-css-themes.json
Labels: Changes requested, theme

#1247 Add Ordered List Style to plugins
  community-plugins.json
Labels: Ready for review

#1249 Add obsidian-trash-explorer plugin
  community-plugins.json
Labels: Ready for review

#1259 feat: add plugin for sync note to Vika
  community-plugins.json
Labels: Ready for review

#1269 Add New Note New Window plugin
  community-plugins.json
Labels: Ready for review

#1251 Add Awesome Flashcard plugin
  community-plugins.json
Labels: Ready for review

#1252 Add Daily Note Outline plugin
  community-plugins.json
Labels: Ready for review

#1253 Add Colorful Tag plugin
  community-plugins.json
Labels: Ready for review

#1254 Add "Edit Gemini" plugin
  community-plugins.json
Labels: Ready for review

#1266 Add Frontmatter Links plugin
  community-plugins.json
Labels: Ready for review

#1211 add obsidian-ava
  community-plugins.json
Labels: Ready for review, Changes requested

#1313 feat: obsidian-scroll-to-top-plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1323 Add "ion" theme
  community-css-themes.json
Labels: theme

#1245 Add obsidian-export-image plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1273 Add page gallery plugin
  community-plugins.json
Labels: Ready for review

#1276 Dynbedded
  community-plugins.json
Labels: Ready for review

#1278 Add Copy document as HTML plugin
  community-plugins.json
Labels: Ready for review

#1280 Add Plugin: Chorded Hotkeys
  community-plugins.json
Labels: Ready for review

#1286 Add Dirtreeist plugin
  community-plugins.json
Labels: Ready for review

#1290 Add obsidian-handlebars to community plugins
  community-plugins.json
Labels: Ready for review

#1344 Added WY Console Theme
  community-css-themes.json
Labels: theme

#1364 Add Adwaita theme
  community-css-themes.json
Labels: theme

#1347 Migrated my theme "Red Solitude" to obsidian version 1.x.x
  community-css-themes.json
Labels: theme
