Repository obsidianmd/obsidian-releases, pull requests merged in 2022-06, with the labels that each got.

#940 Added obsidian-bellboy community plugin.
  community-plugins.json
Labels: Ready for review

#959 Add Note Auto Creator plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#958 Add state switcher plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#962 Add `Media DB Plugin` plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#956 Add obsidian-sequence-hotkeys plugin
  community-plugins.json
Labels: Ready for review

#960 Add `Packrat plugin`
  community-plugins.json
Labels: Ready for review

#968 added excalibrain
  community-plugins.json
Labels: Ready for review, Changes requested

#977 Update community-plugins.json
  community-plugins.json
Labels: Ready for review, Changes requested

#935 Release of Database plugin!
  community-plugins.json
Labels: Ready for review

#981 Add Booksidian Plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#987 Submitting Simple Dice Roller
  community-plugins.json
Labels: Changes requested

#980 Add entry for Obsidian Camera
  community-plugins.json
Labels: Ready for review, Changes requested

#974 Add obsidian-markbase plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#942 Add obsidian-user-plugins reference
  community-plugins.json
Labels: Ready for review

#891 Add Ghost publish plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#946 Youtube Timestamp Notes Plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#961 Add `Obsidian Image Gallery` plugin.
  community-plugins.json
Labels: Ready for review

#971 adding obsidian-thumbnails to community plugins
  community-plugins.json
Labels: Ready for review, Changes requested

#988 Added my plugin "Table to CSV Exporter"
  community-plugins.json
Labels: Ready for review, Changes requested

#1007 Add task progress bar plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#910 add scroll-speed plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#992 Add obsidian-echarts plugin.
  community-plugins.json
Labels: Ready for review, Changes requested

#1008 Update community-plugins.json
  community-plugins.json
Labels: Ready for review, Changes requested
