Repository obsidianmd/obsidian-releases, pull requests merged in 2022-12, with the labels that each got.

#1171 Add "3D Graph" plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1246 Add relation pane plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1291 Add Rapid Notes plugin
  community-plugins.json
Labels: Ready for review

#1293 add obsidian emo uploader
  community-plugins.json
Labels: Ready for review

#1296 Add DeepL plugin
  community-plugins.json
Labels: Ready for review

#1297 Added Quran Lookup plugin
  community-plugins.json
Labels: Ready for review

#1301 plugin: Sigma
  community-plugins.json
Labels: Ready for review

#1307 Update community-plugins.json
  community-plugins.json
Labels: Ready for review, Changes requested

#1309 Plugin: New bullet with time
  community-plugins.json
Labels: Ready for review

#1311 Add Markdown to Jira Converter plugin
  community-plugins.json
Labels: Ready for review

#1312 Add obsidian-achievements plugin
  community-plugins.json
Labels: Ready for review

#1319 Add Obsidian Code Preview plugin
  community-plugins.json
Labels: Ready for review

#1322 add toggle meta yaml plugin
  community-plugins.json
Labels: Ready for review

#1326 Add Smart Links to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1327 Add daily notes editor
  community-plugins.json
Labels: Ready for review

#1329 Add BPMN viewer plugin joleaf/obsidian-bpmn-plugin
  community-plugins.json
Labels: Ready for review

#1330 Add obsidian-image-layouts to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1314 add plugin: asciimath
  community-plugins.json
Labels: Ready for review, Changes requested

#1308 Plugin: Double Click Tab
  community-plugins.json
Labels: Ready for review, Changes requested

#1106 Add Scrybble plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1325 Add Auto Glossary Plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1342 Publish SamePage Extension
  community-plugins.json
Labels: Ready for review, Changes requested

#1336 Add Numerals plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1360 Enable Solarized theme for v1.0.0
  community-css-themes.json
Labels: theme

#1374 Add Typora-Vue theme
  community-css-themes.json
Labels: theme

#1334 AWS DynamoDB For Obsidian
  community-plugins.json
Labels: Ready for review

#1340 Add Hidden Folder plugin
  community-plugins.json
Labels: Ready for review

#1203 add graph sync plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1288 Add Writing plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1335 Add Obsidian Transcription plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1351 Submit a new plugin Obsidian Mindmap Nextgen
  community-plugins.json
Labels: Ready for review

#1354 Add External Link Opener Plugin
  community-plugins.json
Labels: Ready for review

#1356 Mathjax WikiLinks Plugin
  community-plugins.json
Labels: Ready for review

#1358 Submit Obsidian Clipper Plugin
  community-plugins.json
Labels: Ready for review

#1362 Add ProZen plugin
  community-plugins.json
Labels: Ready for review

#1363 Add Aggregator Plugin
  community-plugins.json
Labels: Ready for review

#1367 Add obsidian-autoscroll to community-plugins
  community-plugins.json
Labels: Ready for review

#1371 Add Plugin: Obsidian Stylist
  community-plugins.json
Labels: Ready for review

#1372 Add dataset aid plugin for finetuning language models
  community-plugins.json
Labels: Ready for review

#1377 Submit Obsidian Chord Lyrics plugin
  community-plugins.json
Labels: Ready for review

#1384 Added Crumbs plugin
  community-plugins.json
Labels: Ready for review

#1389 D2 Obsidian plugin
  community-plugins.json
Labels: Ready for review

#1391 Add 'Translate' plugin
  community-plugins.json
Labels: Ready for review

#1394 Add dmn-plugin to Community Plugins
  community-plugins.json
Labels: Ready for review

#1399 Add Fuzzy search tag autocompletion plugin
  community-plugins.json
Labels: Ready for review

#1400 Update community-plugins.json
  community-plugins.json
Labels: Ready for review

#1402 Add Workona To Obsidian plugin.
  community-plugins.json
Labels: Ready for review

#1409 obsidian-readlater submission
  community-plugins.json
Labels: Ready for review

#1373 Add surfing to plugin market
  community-plugins.json
Labels: Ready for review, Changes requested

#1414 Add Toggle Case Plugin
  community-plugins.json
Labels: Ready for review

#1417 Add plugin OpenGate
  community-plugins.json
Labels: Ready for review

#1418 Add canvas presentation
  community-plugins.json
Labels: Ready for review

#1420 add obsidian plugin paste as html
  community-plugins.json
Labels: Ready for review

#1424 Add File Forgetting Curve plugin
  community-plugins.json
Labels: Ready for review

#1426 Add Base Tag Renderer Plugin
  community-plugins.json
Labels: Ready for review

#1359 Add "Todo sort" plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1440 Add Keyshots plugin
  community-plugins.json
Labels: Ready for review

#1444 Add Wordy Plugin
  community-plugins.json
Labels: Ready for review

#1366 External Link Helper
  community-plugins.json
Labels: Ready for review, Changes requested

#1453 Add obsidian-local-images-plus plugin
  community-plugins.json
Labels: Ready for review

#1455 Add 'google-photos' plugin
  community-plugins.json
Labels: Ready for review

#1434 Add WakaTime plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1457 New Plugin: Text Extractor
  community-plugins.json
Labels: Ready for review, Changes requested

#1395 Update Review Notes Plugin to community-plugins.json
  community-plugins.json
Labels: Ready for review, Changes requested

#1423 adding gpt3-notes plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1393 add 'Audio Notes' plugin
  community-plugins.json
Labels: Ready for review, Changes requested
