Repository obsidianmd/obsidian-releases, pull requests merged in 2023-03, with the labels that each got.

#1656 feat: Add Create note in folder
  community-plugins.json
Labels: Ready for review

#1653 Add apple-books-highlights plugin
  community-plugins.json
Labels: Ready for review

#1700 MSG Handler Plugin Release
  community-plugins.json
Labels: Ready for review

#1339 Add new Plugin "ObsiDOOM"
  community-plugins.json
Labels: Ready for review

#1554 Add Advanced Paste Plugin
  community-plugins.json
Labels: Ready for review

#1544 Add ActivityWatch watcher [time tracker] to community-plugins.json
  community-plugins.json
Labels: Validation failed

#1642 add mixa-obsidian community plugin
  community-plugins.json
Labels: Ready for review

#1570 Added Vextab to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1713 New Plugin: Callout Manager
  community-plugins.json
Labels: Ready for review

#1723 Add Awesome Image plugin
  community-plugins.json
Labels: Ready for review

#1727 Update community-plugins.json
  community-plugins.json
Labels: Ready for review

#1603 Add Plugin: Emoji Magic
  community-plugins.json
Labels: Ready for review

#1619 Added Optimize Canvas Connections plugin
  community-plugins.json
Labels: Ready for review

#1716 New plugin: Home tab
  community-plugins.json
Labels: Ready for review

#1722 New Plugin: ChatGPT MD
  community-plugins.json
Labels: Ready for review

#1461 Update community-plugins.json
  community-plugins.json
Labels: Ready for review

#1747 Add emoji-titler
  community-plugins.json
Labels: Ready for review

#1644 Add Perilous Writing plugin
  community-plugins.json
Labels: Ready for review

#1724 add Obsidian ibook plugin
  community-plugins.json
Labels: Ready for review

#1613 Add plugin: Floating Highlights
  community-plugins.json
Labels: Ready for review

#1774 Add Everforest Enchanted theme
  community-css-themes.json
Labels: theme

#1775 Added Sanguine theme
  community-css-themes.json
Labels: Changes requested, theme

#1788 Add sQdth One theme
  community-css-themes.json
Labels: Changes requested, theme

#1664 New plugin: Zen
  community-plugins.json
Labels: Ready for review, plugin

#1665 Add Fast Image Cleaner plugin
  community-plugins.json
Labels: Ready for review, plugin

#1673 New Community Plugin Request: Fantasy Content Generator
  community-plugins.json
Labels: Ready for review, plugin

#1675 Add plugin: Tasks Calendar Wrapper
  community-plugins.json
Labels: Ready for review, plugin

#1647 Add Awesome Brain Manager plugin
  community-plugins.json
Labels: Ready for review, plugin

#1683 Add obsidian-open-in-new-tab
  community-plugins.json
Labels: Ready for review, plugin

#1689 Added Commando plugin
  community-plugins.json
Labels: Ready for review, plugin

#1712 Add global-search-and-replace
  community-plugins.json
Labels: Ready for review, plugin

#1635 Add Image Upload Toolkit plugin
  community-plugins.json
Labels: Ready for review, plugin

#1725 add Gene AI plugin
  community-plugins.json
Labels: Ready for review, plugin

#1717 Convert LaTeX commands into unicode sqeuences
  community-plugins.json
Labels: Validation failed, plugin

#1743 add Natural Language Syntax Highlighting plugin
  community-plugins.json
Labels: Ready for review, plugin

#1744 add Focus Active Sentence plugin
  community-plugins.json
Labels: Ready for review, plugin

#1733 add obsidian-plugin-journal-review to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#1815 add GitHubDHC theme to community themes list
  community-css-themes.json
Labels: theme

#1531 Add obsidian-brainframe to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#1806 feat: add proper-dark theme
  community-css-themes.json
Labels: Changes requested, theme

#1824 Add Sparkling Night
  community-css-themes.json
Labels: Changes requested, theme
