Repository obsidianmd/obsidian-releases, pull requests merged in 2023-10, with the labels that each got.

#2509 Add theme LaTeX
  community-css-themes.json
Labels: Ready for review, theme

#2511 Add theme halcyon
  community-css-themes.json
Labels: Ready for review, theme

#2273 Add plugin Share to NotionNext
  community-plugins.json
Labels: Ready for review, plugin

#2313 Add plugin No more flickering inline math
  community-plugins.json
Labels: Ready for review, plugin

#2369 Add plugin Expiration-Date-Tracker
  community-plugins.json
Labels: Ready for review, plugin

#2370 Add plugin Email Reader
  community-plugins.json
Labels: Ready for review, plugin

#2373 Add plugin Size History
  community-plugins.json
Labels: Ready for review, plugin

#2380 Add plugin ZettelFlow
  community-plugins.json
Labels: Ready for review, plugin

#2386 Add plugin Excel
  community-plugins.json
Labels: Ready for review, plugin

#2480 Add plugin Canvas Send to Back
  community-plugins.json
Labels: Ready for review, plugin

#2388 Add plugin Sync Contacts on macOS
  community-plugins.json
Labels: Ready for review, plugin

#2396 Add plugin Contentful Publisher
  community-plugins.json
Labels: Ready for review, plugin

#2402 Add plugin ZotLit
  community-plugins.json
Labels: Ready for review, plugin

#2403 Add plugin Copy Metadata
  community-plugins.json
Labels: Ready for review, plugin

#2413 Add plugin Text Conversions
  community-plugins.json
Labels: Ready for review, plugin

#2418 Add plugin Palta Note
  community-plugins.json
Labels: Ready for review, plugin

#2367 Add plugin QB Reader Parser
  community-plugins.json
Labels: Ready for review, plugin

#2344 Add plugin Tags Overview
  community-plugins.json
Labels: Ready for review, plugin

#2496 Add plugin Next Link
  community-plugins.json
Labels: Ready for review, plugin

#2398 Add plugin Writing Goals
  community-plugins.json
Labels: Ready for review, plugin

#2425 Add plugin Auto Archive
  community-plugins.json
Labels: Ready for review, plugin

#2429 Add plugin Cardify
  community-plugins.json
Labels: Ready for review, plugin

#2431 Add plugin Vocabulary Cards
  community-plugins.json
Labels: Ready for review, plugin

#2518 Add theme monochroYOU
  community-css-themes.json
Labels: Ready for review, theme

#2474 Add plugin Calctex
  community-plugins.json
Labels: Ready for review, plugin

#2512 Add plugin Timetracker
  community-plugins.json
Labels: Ready for review, plugin

#2445 Add plugin: Eleven Labs
  community-plugins.json
Labels: Ready for review, plugin

#2453 Add plugin: digital paper
  community-plugins.json
Labels: Ready for review, plugin

#2483 Add plugin: Merge Notes
  community-plugins.json
Labels: Ready for review, plugin

#2477 Add plugin: Qiniu Image Uploader
  community-plugins.json
Labels: Ready for review, plugin

#2486 Add plugin: HTML Tabs
  community-plugins.json
Labels: Ready for review, plugin

#2473 Add plugin: VSCode Editor
  community-plugins.json
Labels: Ready for review, plugin

#2422 Add plugin: AnkiSync+
  community-plugins.json
Labels: Ready for review, plugin

#2471 Add moviegrabber plugin
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2522 Add theme Flexoki
  community-css-themes.json
Labels: Ready for review, theme

#2510 Add plugin: Geocoding Properties
  community-plugins.json
Labels: Ready for review, plugin

#2426 Add plugin: Auto Tag
  community-plugins.json
Labels: Ready for review, plugin

#2505 Add plugin: Go To Heading
  community-plugins.json
Labels: Ready for review, plugin

#2437 Add plugin: gpgCrypt
  community-plugins.json
Labels: Ready for review, plugin

#2389 Add plugin: Todo.txt Codeblocks
  community-plugins.json
Labels: Ready for review, plugin

#2541 Add plugin: TODO Wrangler
  community-plugins.json
Labels: Ready for review, plugin

#2553 Add theme: Green Nightmare
  community-css-themes.json
Labels: Ready for review, theme

#2562 Add theme: Transient
  community-css-themes.json
Labels: Ready for review, theme

#2404 Add plugin: Fold Anywhere
  community-plugins.json
Labels: Ready for review, plugin

#2405 Add plugin: File Property Enhancer
  community-plugins.json
Labels: Ready for review, plugin

#2406 Add plugin: Collapse Node
  community-plugins.json
Labels: Ready for review, plugin

#2586 Add plugin: Permalink Opener
  community-plugins.json
Labels: Ready for review, plugin
