Repository obsidianmd/obsidian-releases, pull requests merged in 2023-01, with the labels that each got.

#1431 Add Checklist Reset plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1392 add Obsidian Mermaid plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1436 Add Abecedarium theme
  community-css-themes.json
Labels: theme

#1449 Add Light & Bright Theme
  community-css-themes.json
Labels: theme

#1443 Add Wikipedia theme
  community-css-themes.json
Labels: theme

#1466 Update community-css-themes.json
  community-css-themes.json
Labels: theme

#1401 Add James Lemony's theme
  community-css-themes.json
Labels: theme

#1498 Add Atomus Theme
  community-css-themes.json
Labels: theme

#1497 Add Shiba Uni's theme
  community-css-themes.json
Labels: theme

#1439 Add "Boost Link Suggestions" plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1324 Add obsidian-webpage-export to plugins
  community-plugins.json
Labels: Ready for review, Changes requested

#1419 Add File Color plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1408 Add set-in-obsidian time planner
  community-plugins.json
Labels: Ready for review, Changes requested

#1396 Add hugo-preview-obsidian
  community-plugins.json
Labels: Ready for review, Changes requested

#1437 Added obsidian-file-chucker to the list
  community-plugins.json
Labels: Ready for review, Changes requested

#1458 New plugin: Hints Flow
  community-plugins.json
Labels: Ready for review

#1459 Add ArchiveBox plugin to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1460 Add canvas randomnote
  community-plugins.json
Labels: Ready for review

#1463 Add Spoiler Block plugin
  community-plugins.json
Labels: Ready for review

#1472 Add Terminal plugin
  community-plugins.json
Labels: Ready for review

#1465 Submit "Contacts" plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1478 Add Obsidian Vega Plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1452 Add Link Nodes in Canvas
  community-plugins.json
Labels: Ready for review, Changes requested

#1473 [PLUGIN] Adding Canvas CSS Class
  community-plugins.json
Labels: Ready for review, Changes requested

#1471 Update community-plugins.json - Add Smart Connections
  community-plugins.json
Labels: Ready for review, Changes requested

#1479 Add plugin: Short Internal Links to Headings
  community-plugins.json
Labels: Ready for review

#1438 fix: update ava description
  community-plugins.json
Labels: Changes requested

#1456 7596ff: obsidian-hyphenation
  community-plugins.json
Labels: Ready for review, Changes requested

#1536 Adds the Abyssal theme
  community-css-themes.json
Labels: theme

#1546 Update community-css-themes.json
  community-css-themes.json
Labels: theme

#1369 ADD s3 attachments storage plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1474 Order List Plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1337 added obsidian-audio-player community plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1488 Update community-plugins.json
  community-plugins.json
Labels: Ready for review

#1368 Add Weekly Review Plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1462 Add obsidian gpt
  community-plugins.json
Labels: Ready for review, Changes requested

#1484 Add obsidian-pending-notes plugin
  community-plugins.json
Labels: Ready for review

#1482 Add email-block-plugin plugin to community-plugins
  community-plugins.json
Labels: Ready for review, Changes requested

#1102 Add new plugin `Code Emitter`
  community-plugins.json
Labels: Ready for review

#1430 add PLN
  community-css-themes.json
Labels: theme

#1491 Added Plugin Groups to Community-plugins.json
  community-plugins.json
Labels: Ready for review

#1490 Add plugin: obsidian-ivre-plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1492 Add obsidian-canvas-conversation plugin
  community-plugins.json
Labels: Ready for review, Changes requested

#1507 Add "image-captions" plugin
  community-plugins.json
Labels: Ready for review

#1508 Add Plugin: The One Ring 2E Statblocks
  community-plugins.json
Labels: Ready for review

#1502 Add Plugin: Reference Map
  community-plugins.json
Labels: Ready for review

#1510 Add Plugin: Khoj 🦅
  community-plugins.json
Labels: Ready for review

#1255 Adding Custom File Extensions Plugin
  community-plugins.json
Labels: Validation failed

#1317 feat: add obsidian-incremental-id declaration
  community-plugins.json
Labels: Ready for review
