Repository obsidianmd/obsidian-releases, pull requests merged in 2023-11, with the labels that each got.

#2601 Add theme: Kakano
  community-css-themes.json
Labels: Ready for review, theme

#2410 Add plugin: iDoRecall
  community-plugins.json
Labels: Ready for review, plugin

#2432 Add plugin: Recipe view
  community-plugins.json
Labels: Ready for review, plugin

#2447 Add plugin: Markdown table checkboxes
  community-plugins.json
Labels: Ready for review, plugin

#2427 Add plugin: Image2LaTEX
  community-plugins.json
Labels: Ready for review, plugin

#2487 Add plugin: Tag Breakdown Generator
  community-plugins.json
Labels: Ready for review, plugin

#2452 Add plugin: ReClipped Official
  community-plugins.json
Labels: Ready for review, plugin

#2456 Add plugin: Ollama
  community-plugins.json
Labels: Ready for review, plugin

#2457 Add plugin: Lunar Calendar
  community-plugins.json
Labels: Ready for review, plugin

#2470 Add plugin: File Tree Generator
  community-plugins.json
Labels: Ready for review, plugin

#2476 Add plugin: TreeFocus
  community-plugins.json
Labels: Ready for review, plugin

#2478 Add plugin: Sets
  community-plugins.json
Labels: Ready for review, plugin

#2479 Add plugin: Homework Manager
  community-plugins.json
Labels: Ready for review, plugin

#2481 Add plugin: Typing
  community-plugins.json
Labels: Ready for review, plugin

#2315 Add plugin: MagicCalendar
  community-plugins.json
Labels: Ready for review, plugin

#2441 Add plugin: RescueTime
  community-plugins.json
Labels: Ready for review, plugin

#2493 Add plugin: Chat with Bard
  community-plugins.json
Labels: Ready for review, plugin

#2497 Add plugin: Tracker+
  community-plugins.json
Labels: Ready for review, plugin

#2500 Add plugin: Timeline View
  community-plugins.json
Labels: Ready for review, plugin

#2555 Add theme: EvilRed
  community-css-themes.json
Labels: Ready for review, theme

#2458 Update taskbone plugin description
  community-plugins.json
Labels: Ready for review

#2484 Add plugin: Auto Filename
  community-plugins.json
Labels: Ready for review, plugin

#2498 Add plugin: CSV Codeblock
  community-plugins.json
Labels: Ready for review, plugin

#2530 Add plugin: Discord Message Formatter
  community-plugins.json
Labels: Ready for review, plugin

#2502 Add plugin: Frontmatter generator
  community-plugins.json
Labels: Ready for review, plugin

#2508 Add plugin: Tistory Publisher
  community-plugins.json
Labels: Ready for review, plugin

#2515 Add plugin: Linkding Importer
  community-plugins.json
Labels: Ready for review, plugin

#2526 Add plugin: Auto Reading Mode
  community-plugins.json
Labels: Ready for review, plugin

#2529 Add plugin: Studier
  community-plugins.json
Labels: Ready for review, plugin

#2537 Add plugin: Mochi Cards Pro
  community-plugins.json
Labels: Ready for review, plugin

#2539 Add plugin: Daily Note Pinner
  community-plugins.json
Labels: Ready for review, plugin

#2544 Add plugin: Moon server publisher
  community-plugins.json
Labels: Ready for review, plugin

#2546 Add plugin: Improved Random Note
  community-plugins.json
Labels: Ready for review, plugin

#2559 Add plugin: JSON table
  community-plugins.json
Labels: Ready for review, plugin

#2560 Add plugin: Abbreviations expander
  community-plugins.json
Labels: Ready for review, plugin

#2575 Add plugin: Jira Linker
  community-plugins.json
Labels: Ready for review, plugin

#2589 Add plugin: Remove Empty Folders
  community-plugins.json
Labels: Ready for review, plugin

#2597 Add plugin: Archive/trash to single note
  community-plugins.json
Labels: Ready for review, plugin

#2600 Add plugin: Metal Archives (Unofficial)
  community-plugins.json
Labels: Ready for review, plugin

#2514 Add plugin: Gladdis
  community-plugins.json
Labels: Ready for review, plugin

#2517 Add plugin: Markdown Image Caption
  community-plugins.json
Labels: Ready for review, plugin

#2519 Add plugin: Fountain Editor
  community-plugins.json
Labels: Ready for review, plugin

#2520 Add plugin: Title Generator
  community-plugins.json
Labels: Ready for review, plugin

#2523 Add plugin: Remotely Secure
  community-plugins.json
Labels: Ready for review, plugin

#2524 Add plugin: Inline Encrypter
  community-plugins.json
Labels: Ready for review, plugin

#2525 Add plugin: Scholar
  community-plugins.json
Labels: Ready for review, plugin

#2528 Add plugin: Hexo Auto updater
  community-plugins.json
Labels: Ready for review, plugin

#2533 Add plugin: Favorite Note
  community-plugins.json
Labels: Ready for review, plugin

#2535 Add plugin: Canvas LLM Extender
  community-plugins.json
Labels: Ready for review, plugin

#2536 Add plugin: Teleprompter
  community-plugins.json
Labels: Ready for review, plugin

#2433 Add plugin: Backlink Cache
  community-plugins.json
Labels: Ready for review, plugin

#2538 Add plugin: Tistory
  community-plugins.json
Labels: Ready for review, plugin

#2547 Add plugin: sync-to-xlog
  community-plugins.json
Labels: Ready for review, plugin

#2551 Add plugin: Global Markdown Encryption
  community-plugins.json
Labels: Ready for review, plugin

#2554 Add plugin: Tag Project
  community-plugins.json
Labels: Ready for review, plugin

#2556 Add plugin: Multi Properties
  community-plugins.json
Labels: Ready for review, plugin

#2603 Add plugin: Nothing
  community-plugins.json
Labels: Ready for review, plugin

#2626 Add plugin: Slackify Note
  community-plugins.json
Labels: Ready for review, plugin

#2647 Add plugin: Timestamp Link
  community-plugins.json
Labels: Ready for review, plugin

#2658 Add plugin: Keyword Highlighter
  community-plugins.json
Labels: Ready for review, plugin

#2662 Add theme: Prussian Blue
  community-css-themes.json
Labels: Ready for review, theme

#2663 Add plugin: Zhongwen Block
  community-plugins.json
Labels: Ready for review, plugin

#2657 Add plugin: Vocabulary Highlighter
  community-plugins.json
Labels: Ready for review, plugin

#2516 Add plugin: Zettelkasten Outliner
  community-plugins.json
Labels: Ready for review, plugin

#2616 Add plugin: Quick Tagger
  community-plugins.json
Labels: Ready for review, plugin

#2633 Add plugin: Editor Autofocus
  community-plugins.json
Labels: Ready for review, plugin

#2617 Add theme: Zario
  community-css-themes.json
Labels: Ready for review, theme

#2680 Add plugin: Note Batcher
  community-plugins.json
Labels: Ready for review, plugin

#2621 Add theme: Perso
  community-css-themes.json
Labels: Ready for review, theme

#2671 Add plugin: Automatic Tags
  community-plugins.json
Labels: Ready for review, plugin

#2602 Add plugin: Epub Importer
  community-plugins.json
Labels: Ready for review, plugin

#2620 Add plugin: Spotify Link
  community-plugins.json
Labels: Ready for review, plugin

#2636 Add plugin: Barcode Generator
  community-plugins.json
Labels: Ready for review, plugin

#2670 Add plugin: Notes Merger
  community-plugins.json
Labels: Ready for review, plugin

#2655 Add plugin: File Cleaner Redux
  community-plugins.json
Labels: Ready for review, plugin

#2622 Add plugin: Edit MDX
  community-plugins.json
Labels: Ready for review, plugin

#2513 Add plugin: Run
  community-plugins.json
Labels: Ready for review, plugin

#2534 Add plugin: Blockier
  community-plugins.json
Labels: Ready for review, plugin

#2565 Add plugin: Colored Tags Wrangler
  community-plugins.json
Labels: Ready for review, plugin

#2570 Add plugin: Paste Link
  community-plugins.json
Labels: Ready for review, plugin

#2702 Add theme: Heboric
  community-css-themes.json
Labels: Ready for review, theme

#2717 Add theme: Vicious
  community-css-themes.json
Labels: Ready for review, theme

#2552 Add plugin: GChat Reminder
  community-plugins.json
Labels: Ready for review, plugin

#2587 Add plugin: iCal
  community-plugins.json
Labels: Ready for review, plugin

#2591 Add plugin: Desci
  community-plugins.json
Labels: Ready for review, plugin

#2594 Add plugin: Datetime Language Changer
  community-plugins.json
Labels: Ready for review, plugin

#2595 Add plugin: Minio Uploader
  community-plugins.json
Labels: Ready for review, plugin

#2596 Add plugin: Better Canvas Lock
  community-plugins.json
Labels: Ready for review, plugin

#2598 Add plugin: File indicators
  community-plugins.json
Labels: Ready for review, plugin

#2614 Add plugin: Sort Frontmatter
  community-plugins.json
Labels: Ready for review, plugin

#2634 Add plugin: Publish url
  community-plugins.json
Labels: Validation failed, plugin

#2640 Add plugin: Omg.publish
  community-plugins.json
Labels: Ready for review, plugin

#2641 Add plugin: Local GraphQL
  community-plugins.json
Labels: Ready for review, plugin
