Repository obsidianmd/obsidian-releases, pull requests merged in 2023-07, with the labels that each got.

#1984 Add Iconoir Icons plugin
  community-plugins.json
Labels: Ready for review, plugin

#1987 Add Automatic List Styles plugin
  community-plugins.json
Labels: Ready for review, plugin

#1923 Add Shukuchi plugin
  community-plugins.json
Labels: Ready for review, plugin

#1973 Add chat-stream plugin
  community-plugins.json
Labels: Ready for review, plugin

#1979 Submitting Blindfold Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1994 Add `obsidian-file-include-plugin` community plugin.
  community-plugins.json
Labels: Ready for review, plugin

#2120 Add Feather Theme
  community-css-themes.json
Labels: Ready for review, theme

#1752 Add Vault Chat plugin
  community-plugins.json
Labels: Ready for review, plugin

#2138 Add Comfort Dark theme
  community-css-themes.json
Labels: Ready for review, theme

#1939 adding mermaid-themes plugin
  community-plugins.json
Labels: Ready for review, plugin

#1901 Plugin Html Server
  community-plugins.json
Labels: Ready for review, plugin

#2153 Update community-css-themes.json
  community-css-themes.json
Labels: Ready for review, theme

#1992 Added plugin cloudinary1.1.0
  community-plugins.json
Labels: Ready for review, plugin

#1967 Add Flowershow plugin
  community-plugins.json
Labels: Changes requested, plugin

#2188 Add Markdown Link Space Encoder plugin
  community-plugins.json
Labels: Ready for review, plugin

#2157 Add Simple theme
  community-css-themes.json
Labels: Ready for review, theme

#1892 Add obsidian-bmo-chatbot-plugin
  community-plugins.json
Labels: Ready for review, plugin

#1960 Add plugin `Supsub`
  community-plugins.json
Labels: Ready for review, plugin

#1996 Add Obsidian Typst plugin
  community-plugins.json
Labels: Ready for review, plugin

#1997 Add the AI Summary Community Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1998 Add plugin obsidian-queryallthethings
  community-plugins.json
Labels: Ready for review, plugin

#2003 add obsidian-chemical-structure-renderer plugin
  community-plugins.json
Labels: Ready for review, plugin

#2007 Add Time Ruler plugin
  community-plugins.json
Labels: Ready for review, plugin

#2008 Add plugin Logstravaganza
  community-plugins.json
Labels: Ready for review, plugin

#2009 Add Markdown Blogger plugin
  community-plugins.json
Labels: Ready for review, plugin

#2018 Add Simple RSS Plugin plugin
  community-plugins.json
Labels: Ready for review, plugin

#2180 Add Quick Links plugin
  community-plugins.json
Labels: Ready for review, plugin

#2170 Add obsidian-editor-width-slider plugin
  community-plugins.json
Labels: Ready for review, plugin

#2172 Add Markdown tree plugin
  community-plugins.json
Labels: Ready for review, plugin

#2169 Add Auto Front Matter plugin
  community-plugins.json
Labels: Ready for review, plugin

#2162 Update community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#2183 Add Advanced Random Note details in community-plugins.json
  community-plugins.json
Labels: Changes requested, plugin

#2112 Add Git Url Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2101 Add pf2-action-icons
  community-plugins.json
Labels: Ready for review, plugin

#2141 Add Badges plugin
  community-plugins.json
Labels: Ready for review, plugin

#2052 Add "Hide Folders" Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2031 Add Style Importer plugin
  community-plugins.json
Labels: Ready for review, plugin

#2185 Submit APL Render Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2049 add guid-front-matter plugin
  community-plugins.json
Labels: Ready for review, plugin

#2072 Update community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#2085 Add Style Text Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2187 Add notes dater to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin
