Repository obsidianmd/obsidian-releases, pull requests merged in 2023-02, with the labels that each got.

#1500 Add canvas mindmap to plugin market
  community-plugins.json
Labels: Ready for review

#1596 Add Material Flat theme
  community-css-themes.json
Labels: theme

#1493 adds obsidian-link-exploder to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1494 Add Cycle In Sidebar plugin
  community-plugins.json
Labels: Ready for review

#1511 add "Antidote Grammar Checker Integration" plugin
  community-plugins.json
Labels: Ready for review

#1636 Add Nightingale theme
  community-css-themes.json
Labels: theme

#1581 Adding my plugin: S3 Image uploader
  community-plugins.json
Labels: Ready for review

#1568 Canvas Filter
  community-plugins.json
Labels: Ready for review

#1566 Add plugin : Note aliases
  community-plugins.json
Labels: Ready for review

#1564 Update community-plugins.json
  community-plugins.json
Labels: Ready for review

#1562 Add Kill and Yank plugin
  community-plugins.json
Labels: Ready for review

#1582 Add 'Double Colon Conceal' plugin
  community-plugins.json
Labels: Ready for review

#1528 Add 🪝 Grappling Hook Plugin to Community Store
  community-plugins.json
Labels: Ready for review

#1563 Add obsidian-tag-search to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1520 Add YTranscript plugin
  community-plugins.json
Labels: Ready for review

#1513 Add Habit Calendar Plugin
  community-plugins.json
Labels: Ready for review

#1427 Propose new plugin obsidian-console
  community-plugins.json
Labels: Ready for review

#1517 Add Quip plugin.
  community-plugins.json
Labels: Ready for review

#1576 Add 'Custom Classes' plugin
  community-plugins.json
Labels: Ready for review

#1534 Add obsidian-babashka
  community-plugins.json
Labels: Ready for review

#1560 Add dmn-eval-plugin
  community-plugins.json
Labels: Ready for review

#1532 Added obsidian-tab-key
  community-plugins.json
Labels: Ready for review

#1132 Add Tomorrow Night Bright theme
  community-css-themes.json
Labels: Changes requested, theme

#1526 Add Omnivore plugin
  community-plugins.json
Labels: Validation failed

#1693 Update Nebula theme: comply with 1.0 and remove legacy label
  community-css-themes.json
Labels: Changes requested, theme

#1604 Add obsidian-inbox plugin to community plugins list
  community-plugins.json
Labels: Ready for review

#1608 Add plugin: Text progress bar
  community-plugins.json
Labels: Ready for review

#1601 Add Obsidian reading comments plugin
  community-plugins.json
Labels: Ready for review

#1615 Add progressbar plugin
  community-plugins.json
Labels: Ready for review

#1524 Update community-plugins.json
  community-plugins.json
Labels: Ready for review

#1624 added `material-symbols` to community-plugins.json
  community-plugins.json
Labels: Ready for review

#1540 Add "obsidian-unicode-search" community plugin
  community-plugins.json
Labels: Ready for review

#1681 Add Awesome Reader plugin
  community-plugins.json
Labels: Ready for review

#1687 Add LaTeX Algorithm plugin
  community-plugins.json
Labels: Ready for review

#1692 Contextual Comments
  community-plugins.json
Labels: Ready for review

#1694 Add plugin Heading Level Indent
  community-plugins.json
Labels: Ready for review

#1688 Added open-files-with-commands plugin
  community-plugins.json
Labels: Ready for review

#1677 Update community-plugins.json
  community-plugins.json
Labels: Ready for review

#1696 Add JichouP/obsidian-marp-plugin
  community-plugins.json
Labels: Ready for review

#1678 add o2 plugin
  community-plugins.json
Labels: Ready for review

#1672 Close-similar-tabs
  community-plugins.json
Labels: Ready for review
