Repository obsidianmd/obsidian-releases, pull requests merged in 2023-05, with the labels that each got.

#1640 Add HK Code Block
  community-plugins.json
Labels: Ready for review, plugin

#1721 Add new plugin "Tistory Poster"
  community-plugins.json
Labels: Ready for review, plugin

#1765 Add link-range plugin to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#1767 New plugin: ring a secretary
  community-plugins.json
Labels: Ready for review, plugin

#1773 Modified Community Plugins
  community-plugins.json
Labels: Ready for review, plugin

#1782 Register obsidian-smart-rename
  community-plugins.json
Labels: Ready for review, plugin

#1807 Add new plugin "Pocketbook Cloud Highlight Importer"
  community-plugins.json
Labels: Ready for review, plugin

#1900 Add iB Writer theme
  community-css-themes.json
Labels: Changes requested, theme

#1920 Updating Plugin Description for obsidian-folder-index
  community-plugins.json
Labels: Changes requested

#1617 Update community-plugins.json adding Pivotal Tracker Integration
  community-plugins.json
Labels: Ready for review, plugin

#1803 Add text2anki-openai plugin
  community-plugins.json
Labels: Ready for review, plugin

#1821 add ultimate-todoist-sync plugin
  community-plugins.json
Labels: Ready for review, plugin

#1827 Add Crossbow
  community-plugins.json
Labels: Ready for review, plugin

#1829 Added Google Keep Import plugin
  community-plugins.json
Labels: Ready for review, plugin

#1832 Submitted obsidian-tesseract-ocr plugin
  community-plugins.json
Labels: Ready for review, plugin

#1844 Add Loom
  community-plugins.json
Labels: Ready for review, plugin

#1853 add new links plugin
  community-plugins.json
Labels: Ready for review, plugin

#1871 Add Copilot plugin
  community-plugins.json
Labels: Ready for review, plugin

#1876 Add GitHub Issue Augmentation plugin
  community-plugins.json
Labels: Ready for review, plugin

#1878 Add Persistent Links plugin
  community-plugins.json
Labels: Ready for review, plugin

#1851 Add Obsidian Personal Assistant plugin
  community-plugins.json
Labels: Ready for review, plugin

#1884 add: ai mentor to community plugins
  community-plugins.json
Labels: Ready for review, plugin

#1885 adds game search plugin def
  community-plugins.json
Labels: Ready for review, plugin

#1907 Linked Data Vocabularies plugin
  community-plugins.json
Labels: Ready for review, plugin

#1908 Linked Data Helper plugin
  community-plugins.json
Labels: Ready for review, plugin

#1909 Add show-diff plugin
  community-plugins.json
Labels: Ready for review, plugin

#1917 Add markdoc plugin
  community-plugins.json
Labels: Ready for review, plugin

#1910 Add colored-text plugin
  community-plugins.json
Labels: Ready for review, plugin

#1922 Submit Slide Note Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1919 Add Chem plugin
  community-plugins.json
Labels: Ready for review, plugin

#1915 Add plugin Last Modified Timestamp in Status Bar
  community-plugins.json
Labels: Ready for review, plugin

#1795 Added Askify to Community Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1918 Add Custom State for Task List plugin
  community-plugins.json
Labels: Ready for review, plugin

#1906 Add plugin "Auto Template Trigger"
  community-plugins.json
Labels: Ready for review, plugin

#1965 add "simplicity" theme
  community-css-themes.json
Labels: theme

#1944 Add MagicUser theme
  community-css-themes.json
Labels: Changes requested, theme

#1969 adding "ProtocolBlue" theme
  community-css-themes.json
Labels: Changes requested, theme

#1977 Add Yue Theme
  community-css-themes.json
Labels: Changes requested, theme

#1974 Update community-css-themes.json
  community-css-themes.json
Labels: Changes requested, theme

#1889 Add new plugin obsidian-ketcher
  community-plugins.json
Labels: Ready for review, plugin

#1916 feat: adding open-plugin-settings plugin
  community-plugins.json
Labels: Ready for review, plugin

#1925 Add auto-hide-cursor plugin
  community-plugins.json
Labels: Ready for review, plugin

#1981 Add TokyoNight Storm theme
  community-css-themes.json
Labels: theme

#1858 Update community-plugins.json to add pubScale
  community-plugins.json
Labels: Ready for review, plugin

#1685 add digitalsignalperson/obsidian-rofi-helper
  community-plugins.json
Labels: Ready for review, plugin
