Repository obsidianmd/obsidian-releases, pull requests merged in 2023-12, with the labels that each got.

#2391 Add plugin: Periodic Table
  community-plugins.json
Labels: Ready for review, plugin

#2715 Add plugin: HelpMate
  community-plugins.json
Labels: Ready for review, plugin

#2705 Add plugin: Random Number Generator
  community-plugins.json
Labels: Validation failed, plugin

#2675 Add plugin: Incomplete files
  community-plugins.json
Labels: Ready for review, plugin

#2343 Add plugin: Time Things
  community-plugins.json
Labels: Ready for review, plugin

#2366 Add plugin: Custom Note Width
  community-plugins.json
Labels: Ready for review, plugin

#2584 Add plugin: CalcCraft
  community-plugins.json
Labels: Ready for review, plugin

#2615 Add plugin: Tag Buddy
  community-plugins.json
Labels: Ready for review, plugin

#2632 Add plugin: Adjacency Matrix Exporter
  community-plugins.json
Labels: Ready for review, plugin

#2652 Add plugin: Key-Value List
  community-plugins.json
Labels: Ready for review, plugin

#2669 Add plugin: Attachment Uploader
  community-plugins.json
Labels: Ready for review, plugin

#2678 Add plugin: Daily ICalendar
  community-plugins.json
Labels: Ready for review, plugin

#2736 Add plugin: Auto-\displaystyle Inline Math
  community-plugins.json
Labels: Ready for review, plugin

#2438 Add theme: Celestial Night
  community-css-themes.json
Labels: Ready for review, theme, Changes made

#2688 Add plugin: Text Analysis
  community-plugins.json
Labels: Ready for review, plugin

#2726 Add plugin: Minitabs
  community-plugins.json
Labels: Ready for review, plugin

#2745 Add theme: Rosé Pine
  community-css-themes.json
Labels: Ready for review, theme

#2747 Add plugin: Show Whitespace
  community-plugins.json
Labels: Ready for review, plugin

#2761 Add plugin: Rendered Block Link Suggestions
  community-plugins.json
Labels: Ready for review, plugin

#2355 Add plugin: Desk
  community-plugins.json
Labels: Ready for review, plugin

#2430 Add plugin: Tldraw
  community-plugins.json
Labels: Ready for review, plugin

#2666 Add plugin: Vim Yank Highlight
  community-plugins.json
Labels: Ready for review, plugin

#2674 Add plugin: TickTickSync
  community-plugins.json
Labels: Ready for review, plugin

#2679 Add plugin: Slash Commander
  community-plugins.json
Labels: Ready for review, plugin

#2681 Add plugin: Custom save
  community-plugins.json
Labels: Ready for review, plugin

#2682 Add plugin: Peerdraft
  community-plugins.json
Labels: Ready for review, plugin

#2684 Add plugin: Note Gallery
  community-plugins.json
Labels: Ready for review, plugin

#2637 Add plugin: Smart Title
  community-plugins.json
Labels: Ready for review, plugin

#2689 Add plugin: Gamificate your PKM
  community-plugins.json
Labels: Ready for review, plugin

#2696 Add plugin: R.E.L.A.X.
  community-plugins.json
Labels: Ready for review, plugin

#2700 Add plugin: Encoder/Decoder
  community-plugins.json
Labels: Ready for review, plugin

#2701 Add plugin: Habit Tracker 21
  community-plugins.json
Labels: Ready for review, plugin

#2710 Add plugin: Better Math in Callouts & Blockquotes
  community-plugins.json
Labels: Ready for review, plugin

#2716 Add plugin: Dynamic Line Height for CJK
  community-plugins.json
Labels: Ready for review, plugin

#2718 Add plugin: Pomodoro Timer
  community-plugins.json
Labels: Ready for review, plugin

#2665 Add plugin: Vim IM Control
  community-plugins.json
Labels: Ready for review, plugin

#2723 Add plugin: Global Proxy
  community-plugins.json
Labels: Ready for review, plugin

#2740 Add plugin: Subdivider
  community-plugins.json
Labels: Ready for review, plugin

#2743 Add plugin: Image Helper
  community-plugins.json
Labels: Ready for review, plugin

#2744 Add plugin: Highlight Helper
  community-plugins.json
Labels: Ready for review, plugin

#2748 Add plugin: syncread-assistant
  community-plugins.json
Labels: Ready for review, plugin

#2749 Add plugin: Intelligence
  community-plugins.json
Labels: Ready for review, plugin

#2789 Add plugin: Neighbouring Files
  community-plugins.json
Labels: Ready for review, plugin

#2782 Add plugin: Storyclock Viewer
  community-plugins.json
Labels: Ready for review, plugin

#2738 Add plugin: Local GPT
  community-plugins.json
Labels: Ready for review, plugin
