Repository obsidianmd/obsidian-releases, pull requests merged in 2023-08, with the labels that each got.

#1595 Add "air-quotes" plugin
  community-plugins.json
Labels: Ready for review, plugin

#2032 Add dnotes/obsidian-markdown-chords to community plugins
  community-plugins.json
Labels: Ready for review, plugin

#2044 Add password-protection plugin
  community-plugins.json
Labels: Ready for review, plugin

#2045 add lds-scriptures plugin
  community-plugins.json
Labels: Ready for review, plugin

#2060 Added Edit History Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2065 Add Google Bard Assistant for Obsidian Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2067 Add Memorization Plugin to Obsidian Plugins
  community-plugins.json
Labels: Ready for review, plugin

#2084 add TinyPNG Image plugin
  community-plugins.json
Labels: Ready for review, plugin

#2233 Update community-css-themes.json
  community-css-themes.json
Labels: Changes requested, theme

#2097 Add css-editor plugin
  community-plugins.json
Labels: Ready for review, plugin

#2103 Add Bulk Exporter Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2133 Add Auto Hyperlink
  community-plugins.json
Labels: Ready for review, plugin

#2134 Quick-plugin-switcher.json
  community-plugins.json
Labels: Ready for review, plugin

#2147 Add Jira Cloud plugin
  community-plugins.json
Labels: Ready for review, plugin

#2159 Add Markdown Sync Scroll plugin
  community-plugins.json
Labels: Ready for review, plugin

#2160 Add obsidian-ruled-template
  community-plugins.json
Labels: Ready for review, plugin

#2171 Add Oblogger
  community-plugins.json
Labels: Ready for review, plugin

#2158 Add Simple Canvasearch
  community-plugins.json
Labels: Ready for review, plugin

#2257 Add Neo theme
  community-css-themes.json
Labels: Ready for review, theme

#1896 Feat: add ZettelGPT plugin info
  community-plugins.json
Labels: Ready for review, plugin

#2116 Update community-plugins.json to add Invio
  community-plugins.json
Labels: Ready for review, plugin

#2117 Add Periodic PARA plugin
  community-plugins.json
Labels: Ready for review, plugin

#2132 Add source scanner
  community-plugins.json
Labels: Ready for review, plugin

#2038 Add new plugin "Markdown to Slack message"
  community-plugins.json
Labels: Ready for review, plugin

#2017 Add Micro templates plugin
  community-plugins.json
Labels: Ready for review, plugin

#2096 Add poker to community plugins
  community-plugins.json
Labels: Ready for review, plugin

#2212 Add Obsidian AMOLED theme
  community-css-themes.json
Labels: Ready for review, theme

#2195 Add Color Palette Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2202 Add Link Tree plugin
  community-plugins.json
Labels: Ready for review, plugin

#2223 Add Custom list character plugin
  community-plugins.json
Labels: Ready for review, plugin

#2206 Add Obsidian Arrows plugin
  community-plugins.json
Labels: Ready for review, plugin

#2246 Add Qlean theme
  community-css-themes.json
Labels: Ready for review, theme

#2208 add ics plugin
  community-plugins.json
Labels: Ready for review, plugin

#2204 Add Fantasy name generator plugin
  community-plugins.json
Labels: Ready for review, plugin

#2205 Added TagMany Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2190 Add plugin: Better Search Views
  community-plugins.json
Labels: Ready for review, plugin

#2193 add obsidian-dida-sync
  community-plugins.json
Labels: Ready for review, plugin

#2200 Add Better Comment Toggle plugin
  community-plugins.json
Labels: Ready for review, plugin

#1333 Add mini-toolbar
  community-plugins.json
Labels: Ready for review, plugin

#2020 Add SyncFTP Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2077 Added obsidian-obligator to the community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#2250 Add Fill in the Blank (FITB) plugin
  community-plugins.json
Labels: Ready for review, plugin

#2258 Add InlineCodeHighlight plugin
  community-plugins.json
Labels: Ready for review, plugin

#2080 index-checker plugin submitted
  community-plugins.json
Labels: Ready for review, plugin

#2094 Add Touch Bar Macros plugin
  community-plugins.json
Labels: Ready for review, plugin

#2106 add quail plugin
  community-plugins.json
Labels: Ready for review, plugin

#2296 Add Legacy flag for Obsidian You
  community-css-themes.json
Labels: theme, Validation failed

#2300 Update Cardstock to non-legacy
  community-css-themes.json
Labels: Changes requested

#2302 Add Copy Inline Code Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2305 add the at-people plugin
  community-plugins.json
Labels: Ready for review, plugin

#2297 Add ArchWiki plugin
  community-plugins.json
Labels: Ready for review, plugin

#2312 Add Easy Bake plugin
  community-plugins.json
Labels: Ready for review, plugin

#2107 chore: add yet another obsidian synchronizer plugin
  community-plugins.json
Labels: Ready for review, plugin

#2129 Update community-plugins.json to include finnish-spellcheck
  community-plugins.json
Labels: Ready for review, plugin

#2148 Update community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#2327 Add birthday-tracker plugin
  community-plugins.json
Labels: Ready for review, plugin

#2196 Add LinkShelf plugin
  community-plugins.json
Labels: Ready for review, plugin

#2197 Add plugin `modules`
  community-plugins.json
Labels: Ready for review, plugin

#2210 Add CodeBlock Tabs plugin
  community-plugins.json
Labels: Ready for review, plugin

#2276 Add obsidian-mdx to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#2282 Add emacs-text-editor plugin
  community-plugins.json
Labels: Ready for review, plugin

#2285 Add WakaTime Box
  community-plugins.json
Labels: Ready for review, plugin

#2260 Added Codename Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2271 Add Speech To Text Keyboard Helper
  community-plugins.json
Labels: Ready for review, plugin

#2332 Add "Uncheck All" Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2175 Add Voice plugin
  community-plugins.json
Labels: Ready for review, plugin

#2334 Add Cloze plugin
  community-plugins.json
Labels: Ready for review, plugin

#2324 Add "Wikidata Importer" plugin
  community-plugins.json
Labels: Ready for review, plugin

#2213 add copilot-auto-completion plugin
  community-plugins.json
Labels: Ready for review, plugin

#2339 Add Unitade plugin
  community-plugins.json
Labels: Ready for review, plugin

#2319 Add Python Scripter Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2272 Add Quick note plugin
  community-plugins.json
Labels: Ready for review, plugin

#2255 Add frontmatter modified date
  community-plugins.json
Labels: Ready for review, plugin

#2184 Adding Multi Tag plugin.
  community-plugins.json
Labels: Ready for review, plugin

#2216 Adds Reflection Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2221 Add Wallabag
  community-plugins.json
Labels: Ready for review, plugin

#2225 Add Red Pen plugin
  community-plugins.json
Labels: Ready for review, plugin

#2228 Add Zotero Sync plugin
  community-plugins.json
Labels: Ready for review, plugin

#2234 Add Harpoon
  community-plugins.json
Labels: Ready for review, plugin

#2238 Add Nostr Writer plugin
  community-plugins.json
Labels: Ready for review, plugin

#2243 Add Image Converter to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#2247 Add Plugin: Data Entry
  community-plugins.json
Labels: Ready for review, plugin

#2249 Add Plugin: @ symbol linking
  community-plugins.json
Labels: Ready for review, plugin

#2262 Add Attachment Manager Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2338 Add Solve Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2374 Add Nested tags graph plugin
  community-plugins.json
Labels: Ready for review, plugin

#2379 Add Venom theme
  community-css-themes.json
Labels: Ready for review, theme

#2372 Add YouVersion Linker plugin
  community-plugins.json
Labels: Ready for review, plugin
