Repository obsidianmd/obsidian-releases, pull requests merged in 2023-06, with the labels that each got.

#1989 Add Strict theme
  community-css-themes.json
Labels: Changes requested, theme

#1995 Add NeuBorder Theme
  community-css-themes.json
Labels: Ready for review, theme

#1926 Add Mood Tracker plugin
  community-plugins.json
Labels: Ready for review, plugin

#1547 Add Obsidian Plugin Manager plugin
  community-plugins.json
Labels: Ready for review, plugin

#1929 Add BetterLatex Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1948 Add ling-gloss plugin
  community-plugins.json
Labels: Ready for review, plugin

#2004 Add Obsidian Bolt theme
  community-css-themes.json
Labels: Ready for review, theme

#2040 Add Origin Theme
  community-css-themes.json
Labels: Ready for review, theme

#2043 Add Oozy theme
  community-css-themes.json
Labels: Ready for review, theme

#1899 Add Sync Calendar plugin
  community-plugins.json
Labels: Ready for review, plugin

#1946 Add Share to Cubox Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1947 Add Attachment Management Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1972 Add Chess Study Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1962 add auto upload image plugin for lsky
  community-plugins.json
Labels: Ready for review, plugin

#1970 Add dendron-tree plugin
  community-plugins.json
Labels: Ready for review, plugin

#1985 Add Blur plugin
  community-plugins.json
Labels: Validation failed, plugin

#1464 add Silicon AI
  community-plugins.json
Labels: Ready for review, plugin

#1632 Mermaid.js Helper
  community-plugins.json
Labels: Ready for review, plugin

#1893 feat: add Telegram Sync plugin
  community-plugins.json
Labels: Ready for review, plugin

#2011 Add Pieces for Developers Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2075 Add blur plugin
  community-plugins.json
Labels: Ready for review, plugin

#2059 Add Covert Obsidian Theme
  community-css-themes.json
Labels: Ready for review, theme

#2074 Add Dracula Plus theme
  community-css-themes.json
Labels: Ready for review, theme

#2050 Add SALEM theme
  community-css-themes.json
Labels: Ready for review, theme

#1941 add plugin "Canvas Links"
  community-plugins.json
Labels: Ready for review, plugin

#1652 Add plugin: hamsterbase
  community-plugins.json
Labels: Ready for review, plugin

#1935 Add TodoTxt plugin
  community-plugins.json
Labels: Ready for review, plugin

#1943 Arcana Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1954 add auto-anki
  community-plugins.json
Labels: Ready for review, plugin

#2079 Rename Notion-Like Tables to Dashboards
  community-plugins.json
Labels: Changes requested

#1932 Add APIRequest plugin
  community-plugins.json
Labels: Ready for review, plugin

#1968 Add plugin "Link with alias"
  community-plugins.json
Labels: Ready for review, plugin

#1964 add 'HackerOne' plugin
  community-plugins.json
Labels: Ready for review, plugin

#1980 add confluence-to-obsidian plugin
  community-plugins.json
Labels: Ready for review, plugin

#1976 add "recipe-grabber" plugin
  community-plugins.json
Labels: Ready for review, plugin

#1986 Add note-archiver plugin
  community-plugins.json
Labels: Ready for review, plugin
