Repository obsidianmd/obsidian-releases, pull requests merged in 2023-09, with the labels that each got.

#2345 Add Checkbox Reorder plugin
  community-plugins.json
Labels: Ready for review, plugin

#2270 Add Gnome Terminal Loader
  community-plugins.json
Labels: Ready for review, plugin

#2363 Add Media Sync plugin
  community-plugins.json
Labels: Ready for review, plugin

#2364 Add autoLiterature plugin
  community-plugins.json
Labels: Ready for review, plugin

#2385 Add Local Backup plugin
  community-plugins.json
Labels: Ready for review, plugin

#2359 Add ChatGpt Definitions Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2058 Adding bhagyas/obsidian-postfix-plugin - Update community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#2082 Add Typing Assistant
  community-plugins.json
Labels: Ready for review, plugin

#2115 Add Excalidraw-CN plugin
  community-plugins.json
Labels: Ready for review, plugin

#2136 Obsidian BattleSnake Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2146 Add MTG Card Links Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2179 Add obsidian-writeas plugin
  community-plugins.json
Labels: Ready for review, plugin

#2261 Add Header Enhancer plugin
  community-plugins.json
Labels: Ready for review, plugin

#2263 Add Handwritten Notes
  community-plugins.json
Labels: Ready for review, plugin

#2268 Add Flashcard Generator
  community-plugins.json
Labels: Ready for review, plugin

#2269 Add Spreadsheets Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2274 Add Ticktick
  community-plugins.json
Labels: Ready for review, plugin

#2277 Add webdav file explorer plugin
  community-plugins.json
Labels: Ready for review, plugin

#2281 Add advanced table extension plugin
  community-plugins.json
Labels: Ready for review, plugin

#2293 Add Nifty Links
  community-plugins.json
Labels: Ready for review, plugin

#2294 Add Exercises plugin
  community-plugins.json
Labels: Ready for review, plugin

#2298 Add File Explorer++ plugin
  community-plugins.json
Labels: Ready for review, plugin

#2362 Add Github Embeds plugin
  community-plugins.json
Labels: Ready for review, plugin

#2110 Add Tenki Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2111 Add Tokei plugin
  community-plugins.json
Labels: Ready for review, plugin

#1991 Add obsidian-codeblock-template plugin
  community-plugins.json
Labels: Ready for review, plugin

#2299 add 2hop links plus plugin
  community-plugins.json
Labels: Ready for review, plugin

#2303 Add Custom Font Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2306 Add Pickly PageBlend plugin
  community-plugins.json
Labels: Ready for review, plugin

#2307 Add AI Editor plugin
  community-plugins.json
Labels: Ready for review, plugin

#2310 Sheets submission
  community-plugins.json
Labels: Ready for review, plugin

#2384 Add Day Planner (OG)
  community-plugins.json
Labels: Ready for review, plugin

#2397 Add Autotape theme
  community-css-themes.json
Labels: Ready for review, theme

#2357 Update Nebula theme
  community-css-themes.json
Labels: Ready for review

#2360 Add Automatic Table Of Contents plugin
  community-plugins.json
Labels: Ready for review, plugin

#2275 Add Search Templates Library plugin
  community-plugins.json
Labels: Ready for review, plugin

#2154 Add Vertical Tabs View plugin
  community-plugins.json
Labels: Ready for review, plugin

#2309 Added Just Share Please
  community-plugins.json
Labels: Ready for review, plugin

#2318 Add potato indexer plugin
  community-plugins.json
Labels: Ready for review, plugin

#2321 Add typewriter mode plugin
  community-plugins.json
Labels: Ready for review, plugin

#2325 Add "JS Engine Plugin" Plugin
  community-plugins.json
Labels: Ready for review, plugin

#2330 [NEW] Adds czottmann/obsidian-mononote
  community-plugins.json
Labels: Ready for review, plugin

#2331 Add Cannoli plugin
  community-plugins.json
Labels: Ready for review, plugin

#2341 Add Multiple Notes Outline plugin
  community-plugins.json
Labels: Ready for review, plugin

#2342 Add URL Display plugin
  community-plugins.json
Labels: Ready for review, plugin

#2420 Add Change Case Plugin
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2076 Add Send to Ghost
  community-plugins.json
Labels: Ready for review, plugin

#2350 Add Content Linker Plugin
  community-plugins.json
Labels: Ready for review, plugin
