Repository obsidianmd/obsidian-releases, pull requests merged in 2023-04, with the labels that each got.

#1831 Add Gemmy
  community-plugins.json
Labels: Validation failed, plugin

#1741 Add Source Code Note Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1736 feat(prioritize): adding prioritize plugin
  community-plugins.json
Labels: Ready for review, plugin

#1710 Add new TiddlyWiki import/export plugin
  community-plugins.json
Labels: Ready for review, plugin

#1771 New plugin to reveal file clicking title
  community-plugins.json
Labels: Ready for review, plugin

#1762 Add float search plugin
  community-plugins.json
Labels: Ready for review, plugin

#1514 Add Meld Build Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1789 Add Page Properties plugin
  community-plugins.json
Labels: Ready for review, plugin

#1552 Adding obsidian-testing-vault plugin to help plugin developers make u…
  community-plugins.json
Labels: Ready for review, plugin

#1780 new plugin: Easy toggle sidebars
  community-plugins.json
Labels: Ready for review, plugin

#1857 Add Serenity Theme
  community-css-themes.json
Labels: theme

#1634 Added x86 Assembly Flow Graphing Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1823 Add search obsidian in google plugin
  community-plugins.json
Labels: Ready for review, plugin

#1748 OZ Calendar Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1749 Add plugin: Send task to Omnifocus
  community-plugins.json
Labels: Ready for review, plugin

#1755 Add AI Commander plugin
  community-plugins.json
Labels: Ready for review, plugin

#1756 Add obsidian-pseudocode plugin
  community-plugins.json
Labels: Ready for review, plugin

#1768 added obsidian-advanced-merge to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#1811 Added obsidian-hd-unfilled-stats-highlighter to community-plugins.json.
  community-plugins.json
Labels: Ready for review, plugin

#1742 Add Plugin: GPT Assistant
  community-plugins.json
Labels: Ready for review, plugin

#1797 Add Companion plugin
  community-plugins.json
Labels: Ready for review, plugin

#1837 submitting get-stock-information plugin
  community-plugins.json
Labels: Ready for review, plugin

#1841 Add Frontmatter Alias Display plugin
  community-plugins.json
Labels: Ready for review, plugin

#1834 Add Character Insertion Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1852 Added Olivier’s Theme
  community-css-themes.json
Labels: Changes requested, theme

#1839 Add Whisper plugin
  community-plugins.json
Labels: Ready for review, plugin

#1820 Adding Colorful Note Borders (obsidian-colorful-note-borders) plugin to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#1805 feat: add obsidian-code-files
  community-plugins.json
Labels: Ready for review, plugin

#1790 Update community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#1662 Add plugin: AnyBlock
  community-plugins.json
Labels: Ready for review, plugin

#1801 Add WuCai highlights sync plugin
  community-plugins.json
Labels: Ready for review, plugin

#1842 Add "File order" plugin
  community-plugins.json
Labels: Ready for review, plugin

#1847 Add "No Tabs" plugin
  community-plugins.json
Labels: Ready for review, plugin

#1849 Add Tab Rotator plugin
  community-plugins.json
Labels: Ready for review, plugin

#1850 Add Bulk open selected links plugin
  community-plugins.json
Labels: Ready for review, plugin

#1863 Add Semantic Search
  community-plugins.json
Labels: Ready for review, plugin

#1864 Adding select current line plugin
  community-plugins.json
Labels: Ready for review, plugin

#1764 Add wikipedia-search plugin
  community-plugins.json
Labels: Ready for review, plugin

#1860 Releasing Vim Toggle Plugin?!
  community-plugins.json
Labels: Ready for review, plugin

#1872 Add obidian-harada-method-plugin
  community-plugins.json
Labels: Ready for review, plugin

#1735 Add community plugin with Marp Slide
  community-plugins.json
Labels: Ready for review, plugin

#1587 Add Flomo Importer Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1518 Adding tolino-notes-import plugin
  community-plugins.json
Labels: Ready for review, plugin

#1579 Add Codeblock Customizer to community-plugins.json
  community-plugins.json
Labels: Ready for review, plugin

#1783 Add Auto Classifier
  community-plugins.json
Labels: Ready for review, plugin

#1739 Add ai assistant plugin
  community-plugins.json
Labels: Ready for review, plugin

#1810 Add Obsidian CRON Plugin
  community-plugins.json
Labels: Ready for review, plugin

#1365 Add Tray plugin
  community-plugins.json
Labels: Ready for review, plugin

#1781 add dynamic timetable plugin
  community-plugins.json
Labels: Ready for review, plugin

#1766 Request to add Soomda plugin
  community-plugins.json
Labels: Ready for review, plugin

#1897 vault-name-status-bar plugin
  community-plugins.json
Labels: Ready for review, plugin

#1862 Added new plugin called quickly.
  community-plugins.json
Labels: Ready for review, plugin
