Repository obsidianmd/obsidian-releases, pull requests merged in 2024-08, with the labels that each got.

#3846 Add plugin: Enhanced Symbols Prettifier
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3889 Add plugin: Smart Templates
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3911 Add plugin: Canvas Picture in Picture
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3920 Add plugin: Super Duper Audio Recorder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3925 Add plugin: Vertical Tabs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3949 Add plugin: Truth Table+
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3956 Add plugin: Learnie
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3957 Add plugin: Confluence Link
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3905 Add plugin: Relay
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3936 Add plugin: Vault Size History
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3990 Add theme: Shade Sanctuary
  community-css-themes.json
Labels: Ready for review, theme

#3992 Add theme: Underwater
  community-css-themes.json
Labels: Ready for review, theme

#3843 Add plugin: Harper
  community-plugins.json
Labels: Changes requested, plugin

#3864 Add plugin: Geulo
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3876 Add plugin: sync-db-os
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3885 Add plugin: Daily Statistics
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3906 Add plugin: CSS Inlay Colors
  community-plugins.json
Labels: Ready for review, plugin

#3908 Add plugin: GTP Preview
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3913 Add plugin: Structured Tree
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3915 Add plugin: Current File
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3924 Add plugin: Arcane Obfuscate
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3886 Add plugin: Todoist Project sync
  community-plugins.json
Labels: Changes requested, plugin

#3897 Add plugin: Recursive Copy
  community-plugins.json
Labels: Ready for review, plugin

#3923 Add plugin: Blockreffer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3939 Add plugin: Emera
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Skipped code scan

#4115 Add theme: Kiwi Mono
  community-css-themes.json
Labels: Ready for review, theme

#3955 Add plugin: AI LaTeX Generator
  community-plugins.json
Labels: Ready for review, plugin

#3958 Add plugin: Listen Up!
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3960 Add plugin: Serendipity
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3970 Add plugin: Note Reviewer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3987 Add plugin: Mahjong Renderer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3995 Add plugin: External File Card
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3997 Add plugin: Vitepress Publisher
  community-plugins.json
Labels: Ready for review, plugin

#4001 Add plugin: KeepSidian
  community-plugins.json
Labels: Ready for review, plugin

#4021 Add plugin: Suggest Notes
  community-plugins.json
Labels: Ready for review, plugin

#4022 Add plugin: File Share
  community-plugins.json
Labels: Ready for review, plugin, Skipped code scan

#4026 Add plugin: Canvas Explorer
  community-plugins.json
Labels: Ready for review, plugin

#3998 Add plugin: Lazy Plugin Loader
  community-plugins.json
Labels: Ready for review, plugin

#4034 Add plugin: Battery Indicator
  community-plugins.json
Labels: Ready for review, plugin

#3951 Add plugin: Virus Total Enrichment
  community-plugins.json
Labels: Changes requested, plugin

#4023 Add plugin: Snippets Manager
  community-plugins.json
Labels: Changes requested, plugin

#3981 Add plugin: CSS Inserter
  community-plugins.json
Labels: Changes requested, plugin
