Repository obsidianmd/obsidian-releases, pull requests merged in 2024-03, with the labels that each got.

#3082 Add plugin: Mxmind Mindmap
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3103 Add plugin: Contextual Sidecar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3120 Add plugin: Differential ZIP Backup
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3151 Add plugin: Media Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3019 Add plugin: Cooklang
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3060 Add plugin: Contextual note templating
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3070 Add plugin: Vault Transfer
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3080 Add plugin: Movie Search
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3097 Add plugin: View Count
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3113 Add plugin: Notification Controller
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3117 Add plugin: Calendarium
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3119 Add plugin: Confluence Sync
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3128 Add plugin: Persian Calendar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2933 Add plugin: Daily Note Navbar
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2927 Add plugin: Orion Publish
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3154 Add plugin: Gistr
  community-plugins.json
Labels: Changes requested, plugin

#2997 Add plugin: Things3 Today
  community-plugins.json
Labels: Changes requested, plugin

#3100 Add plugin: Command Block List
  community-plugins.json
Labels: Ready for review, plugin

#3085 Add plugin: Crafty
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3148 Add plugin: Color cycler
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3161 Add plugin: Markmap to CSV
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3116 Add plugin: Ear Training
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3170 Add plugin: Hugo codeblock highlight
  community-plugins.json
Labels: Ready for review, plugin

#3173 Add plugin: Node Screenshot
  community-plugins.json
Labels: Ready for review, plugin

#3178 Add plugin: Line Commands
  community-plugins.json
Labels: Validation failed, plugin

#3169 Add plugin: Title renamer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3162 Add plugin: Markdown Media Card
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3191 Add theme: Soloing
  community-css-themes.json
Labels: Ready for review, theme

#3062 Add plugin: Canvas minimap
  community-plugins.json
Labels: Changes requested, plugin

#3179 Add plugin: Fit
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3186 Add plugin: VLC Bridge
  community-plugins.json
Labels: Ready for review, plugin

#3189 Update of my plugins descriptions
  community-plugins.json
Labels: Changes requested

#3104 Add plugin: Progress Clocks
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3160 Add plugin: Note Companion Folder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3171 Add plugin: Tab Selector
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3176 Add plugin: Default query in backlinks
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3183 Add plugin: Metafolders
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3185 Add plugin: Spellcheck Toggler
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3174 Add plugin: Project Browser
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3196 Add plugin: Cicada Synchronizer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3197 Add plugin: Verse of the Day
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3193 Rename periodic para plugin
  community-plugins.json
Labels: Changes made

#3205 Add theme: Reshi
  community-css-themes.json
Labels: Ready for review, theme

#3224 Add plugin: Fight Note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2967 Add plugin: Cards View
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3221 Add theme: Focus
  community-css-themes.json
Labels: Ready for review, theme

#2963 Add plugin: Password Protect
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3227 Add plugin: Editor full screen
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Skipped code scan

#3212 Add plugin: Moulinette Search for TTRPG
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3247 description update
  community-plugins.json
Labels: Changes requested

#3214 Add plugin: Semantic Canvas
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3207 Add plugin: PARA Workflower
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3225 Add theme: Nordic
  community-css-themes.json
Labels: Ready for review, theme

#3232 Add plugin: Lavadocs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3229 Add plugin: Kinopoisk search
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3233 Add plugin: Multilingual
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3236 Add plugin: Quick File Name
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2974 Add plugin: Sticky Headings
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3238 Add plugin: AI Zhipu
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3086 Add plugin: BackItUp
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3251 Add plugin: Callout Suggestions
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3244 Add plugin: AI LLM
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3177 Add plugin: Tag Links
  community-plugins.json
Labels: Ready for review, plugin

#3258 Add plugin: Notice logger
  community-plugins.json
Labels: Ready for review, plugin

#3267 Add plugin: Buckwalter Transliteration
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3256 Add theme: Moonstone
  community-css-themes.json
Labels: Ready for review, theme

#3261 Add plugin: Hemingway Mode
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3266 Add theme: Tiniri
  community-css-themes.json
Labels: Ready for review, theme

#3259 Add plugin: Telegram Inbox
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3268 Add plugin: Misskey Connector
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3288 Add theme: Apex
  community-css-themes.json
Labels: Ready for review, theme

#3276 Add plugin: Shiki Highlighter
  community-plugins.json
Labels: Ready for review, plugin, Minor changes requested

#3286 Add theme: Apex
  community-css-themes.json
Labels: theme, Validation failed

#3290 Add theme: Eldritch
  community-css-themes.json
Labels: Ready for review, theme

#3255 Add plugin: Foodiary
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3107 Add plugin: NotesOn Publish
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3278 Add plugin: AI Summarize
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3219 Add plugin: Livecodes Playground
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3271 Add plugin: Auto Embed
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3246 Add plugin: VARE
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3073 Add plugin: Hugo Publish
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested
