Repository obsidianmd/obsidian-releases, pull requests merged in 2024-04, with the labels that each got.

#3311 Add plugin: Autoplay & Loop
  community-plugins.json
Labels: Ready for review, plugin

#3294 Add theme: Soothe
  community-css-themes.json
Labels: Ready for review, theme

#3282 Add plugin: Note Toolbar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2938 Add plugin: Cloud Atlas
  community-plugins.json
Labels: Ready for review, plugin

#3254 Add plugin: Slurp
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3262 Add plugin: Current Folder Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3285 Add plugin: Reverse Prompter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3292 Add plugin: Automation
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3318 Add plugin: Click Clack
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3319 Add plugin: Grind Manager
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3320 Add plugin: Dictionary translator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3321 Add plugin: vConsole
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3269 Add plugin: External Links
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3293 Add plugin: Target Word Count
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2924 Add plugin: Amazing Marvin Integration
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2885 Add plugin: Cluster
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2949 Add plugin: IMDb
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3210 Update plugin: Gistr
  community-plugins.json
Labels: stale

#3325 Add plugin: Daily Prompt
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3330 Add plugin: Custom Sidebar Icons
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3329 Add plugin: Update Time Updater
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3333 Add plugin: Markpilot
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3359 Add theme: Sandover
  community-css-themes.json
Labels: Ready for review, theme

#3361 Add theme: Dunite
  community-css-themes.json
Labels: Ready for review, theme

#3335 Add plugin: Hierarchical Outgoing Links
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3340 Add plugin: Create List of Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3342 Add plugin: Alias Picker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3356 Add plugin: Fontsource
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3369 Add theme: Virgo
  community-css-themes.json
Labels: Changes requested, theme

#3038 Add plugin: Static Site MD Exporter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3040 Add plugin: Enhanced Copy
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3313 Add plugin: Ink
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3322 Add plugin: Sync config folder to common folder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3331 Add plugin: AI for Templater
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3337 Add plugin: Dust Calendar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3195 Add plugin: Google Blogger
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3351 Add plugin: Strapi Exporter AI
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3352 Add plugin: Mindmap
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3367 Add plugin: Outline Converter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3360 Add plugin: Universal renderer
  community-plugins.json
Labels: Ready for review, plugin, Skipped code scan

#3253 Add plugin: Canvas2Document
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3338 Add plugin: Letterboxd Diary RSS Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3378 Add plugin: Bitcoin Block Stamp
  community-plugins.json
Labels: Ready for review, plugin

#3245 Add plugin: Slides Extended
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2873 Add plugin: my anime list text exporter
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2951 Add plugin: CoCo AskAI
  community-plugins.json
Labels: Changes requested, plugin

#3194 Add plugin: Personal OS
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3218 Add plugin: TimeSaver
  README.md
Labels: Changes requested, plugin, Minor changes requested

#3250 Add plugin: Calendar Event Sync
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3350 Add plugin: Painter
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3339 Add plugin: Random names
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3392 Add plugin: Note Splitter
  community-plugins.json
Labels: Ready for review, plugin

#3407 Add plugin: Lava VTT Uploader
  community-plugins.json
Labels: Ready for review, plugin

#3411 Add plugin: Outline to task list
  community-plugins.json
Labels: Ready for review, plugin

#3423 Add theme: Trace Labs
  community-css-themes.json
Labels: Ready for review, theme

#3332 Add plugin: SystemSculpt AI
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested, Skipped code scan

#3391 Add plugin: Generate Hash
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3394 Add plugin: Simple Citations
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3316 Add plugin: Custom new file name
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3415 Add plugin: ai-writer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3416 Add plugin: LinkMagic
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3418 Add plugin: Mapbox Location Image
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3421 Add plugin: Tab Navigator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3417 Add plugin: Day One Importer
  community-plugins.json
Labels: Ready for review, plugin

#3428 Add theme: W95
  community-css-themes.json
Labels: Ready for review, theme

#3431 Add theme: Sanctum reborn
  community-css-themes.json
Labels: Ready for review, theme

#3425 Add plugin: Draft Indicator
  community-plugins.json
Labels: Ready for review, plugin, Skipped code scan
