Repository obsidianmd/obsidian-releases, pull requests merged in 2024-05, with the labels that each got.

#3414 Add plugin: Azure DevOps Linker
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3424 Add plugin: AI Chat
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3434 Add plugin: Local LLM Helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3435 Add plugin: Text2Audio
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3436 Add plugin: ruby.wasm
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3437 Add plugin: TinyChart
  README.md
Labels: Ready for review, plugin, Changes made

#3438 Add plugin: Checkbox Sounds
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3441 Add theme: Spectrum Blue
  community-css-themes.json
Labels: Ready for review, theme

#3480 Add theme: Midnight
  community-css-themes.json
Labels: Ready for review, theme

#3493 Add theme: Cobalt Peacock
  community-css-themes.json
Labels: Ready for review, theme

#3508 Add theme: Lorens
  community-css-themes.json
Labels: Ready for review, theme

#3509 Add theme: Rift
  community-css-themes.json
Labels: Ready for review, theme

#3492 Add plugin: Canvas Blocks
  community-plugins.json
Labels: Ready for review, plugin

#3317 Add plugin: Timekeep
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3426 Add plugin: Select word
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3445 Add plugin: Note Chain
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3447 Add plugin: Folder Periodic Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3449 Add plugin: S3agle
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3451 Add plugin: Markwhen
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3459 Add plugin: Canvas Keyboard Pan
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3478 Add plugin: Weekly Review notes linker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3489 Add plugin: Advanced Сanvas Filter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3490 Add plugin: Future Dates
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3498 Add plugin: GDScript Syntax Highlighting
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3347 Add plugin: Fuzzy Note Creator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3457 Add plugin: BibTeX Manager
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3540 Add theme: Blossom
  community-css-themes.json
Labels: Ready for review, theme

#3455 Add plugin: MostUsed
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3501 Add plugin: Vault Explorer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3503 Add plugin: Cursor Jump
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3512 Add plugin: Timesheet
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3517 Add plugin: List Outline Helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3531 Add plugin: Query JSON
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3542 Add plugin: Voicenotes Sync
  community-plugins.json
Labels: Ready for review, plugin

#3555 Add theme: Space
  community-css-themes.json
Labels: Ready for review, theme

#3562 Add theme: Neon Synthwave
  community-css-themes.json
Labels: Ready for review, theme

#3379 Add plugin: Légifrance Intégration
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3405 Add plugin: Github Copilot
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3419 Add plugin: Toggle RTL mode
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3427 Add plugin: Update Time
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3500 Add plugin: Solo RPG Toolkit
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3529 Add plugin: Interactivity
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3515 Add plugin: heti
  community-plugins.json
Labels: Ready for review, plugin

#3535 Add plugin: Stashpad Docs
  community-plugins.json
Labels: Ready for review, plugin

#3368 Add plugin: Smart Gantt
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3544 Add plugin: TaskWarrior Task Wiki
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3548 Add plugin: Notes 2 Tweets
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3572 Add plugin: Note Definitions
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3584 Add theme: Vauxhall
  community-css-themes.json
Labels: Ready for review, theme

#3526 Add plugin: Lineage
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3530 Add plugin: Settings Management
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3536 Add plugin: Laser beam
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3543 Add plugin: Freeform
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3560 Add plugin: Smart HTML Select
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3565 Add plugin: File Preview
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3583 Add plugin: Regex Mark
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3538 Add plugin: Focus Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3537 Add plugin: Header Counter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3307 Add plugin: ii
  community-plugins.json
Labels: Changes requested, plugin, Skipped code scan
