Repository obsidianmd/obsidian-releases, pull requests merged in 2024-01, with the labels that each got.

#2857 Add theme: Carbon
  community-css-themes.json
Labels: Ready for review, theme

#2839 Add theme: Phoenix
  community-css-themes.json
Labels: Ready for review, theme

#2871 Add theme: Garden Gnome (Adwaita, GTK)
  community-css-themes.json
Labels: Ready for review, theme

#2751 Add plugin: Meal Plan
  community-plugins.json
Labels: Ready for review, plugin

#2757 Add plugin: Emoji Autocomplete
  community-plugins.json
Labels: Ready for review, plugin

#2786 Add plugin: open-as-md
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2788 Add plugin: Ribbon Divider
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2784 Add plugin: Hill Charts
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2785 Add plugin: Ollama Chat
  community-plugins.json
Labels: Ready for review, plugin

#2753 Add plugin: Canvas Card Background Remover
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2746 Add plugin: Latex OCR
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2775 Add plugin: Object Writer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2801 Add plugin: Task Status
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2818 Add plugin: Repeat Last Command(s)
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2848 Add plugin: Strip Internal Links
  community-plugins.json
Labels: Ready for review, plugin

#2863 Add plugin: Git File Explorer
  community-plugins.json
Labels: Ready for review, plugin

#2909 Add theme: Monokai
  community-css-themes.json
Labels: Ready for review, theme

#2952 Add theme: Ethereon
  community-css-themes.json
Labels: Ready for review, theme

#2961 Add theme: Tomorrow
  community-css-themes.json
Labels: Ready for review, theme

#2962 Add theme: Nightfox
  community-css-themes.json
Labels: Ready for review, theme

#2973 Add theme: Novadust
  community-css-themes.json
Labels: Ready for review, theme

#2995 Add theme: Pure
  community-css-themes.json
Labels: Ready for review, theme

#2853 Add plugin: YouTube Template
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2862 Add plugin: Copy Image
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2865 Add plugin: Widgets
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2878 Add plugin: Metadata Hider
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2880 Add plugin: LaTeX-OCR
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2849 Add plugin: Reference Generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2854 Add plugin: Additional Icons
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3016 Add theme: Prime
  community-css-themes.json
Labels: Ready for review, theme

#3026 Add theme: Arcane
  community-css-themes.json
Labels: Ready for review, theme

#2941 Add theme: MistyMauve
  community-css-themes.json
Labels: Ready for review, theme

#2994 Add theme: Sea Glass
  community-css-themes.json
Labels: Ready for review, theme

#2929 Add theme: DarkNebula
  community-css-themes.json
Labels: Ready for review, theme

#2928 Add plugin: Extended Task Lists
  community-plugins.json
Labels: Ready for review, plugin
