Repository obsidianmd/obsidian-releases, pull requests merged in 2024-10, with the labels that each got.

#4049 Add plugin: Immersive Translate
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3988 Add plugin: Scripture Indexer
  community-plugins.json
Labels: Changes requested, plugin

#3991 Add plugin: Open Sidebar on Hover
  community-plugins.json
Labels: Ready for review, plugin

#4282 Add theme: AMOLED Serenity
  community-css-themes.json
Labels: Ready for review, theme

#4291 Add theme: Hackthebox
  community-css-themes.json
Labels: Ready for review, theme

#4385 Add theme: Transparent
  community-css-themes.json
Labels: Ready for review, theme

#4396 Add theme: Lagom
  community-css-themes.json
Labels: Ready for review, theme

#4403 Add theme: Simply Colorful
  community-css-themes.json
Labels: Ready for review, theme

#4406 Add theme: OneNice
  community-css-themes.json
Labels: Ready for review, theme

#4430 Add theme: Fancy-a-Story
  community-css-themes.json
Labels: Ready for review, theme

#4437 Add theme: Flexoki Warm
  community-css-themes.json
Labels: Ready for review, theme

#4038 Add plugin: Command Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4089 Add plugin: BookXNote Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4113 Add plugin: Find Orphaned Images
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4180 Add plugin: Link Navigation
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4186 Add plugin: Modal Opener
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4202 Add plugin: Mouse Navigation
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4207 Add plugin: FFmpeg Converter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4231 Add plugin: Crackboard
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4241 Add plugin: Quick Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3804 Add plugin: Typefully
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3935 Add plugin: InfraNodus AI Graph View
  community-plugins.json
Labels: Changes requested, plugin

#4052 Add plugin: Open Interpreter
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#4072 Add plugin: Scrambling Title Animations
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3975 Add plugin: Flow
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4090 Add plugin: Quarto Exporter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4206 Add plugin: Copy Section
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4208 Add plugin: Cloud Storage
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4261 Add plugin: Local Media Embedder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4264 Add plugin: Tab Panels
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4265 Add plugin: Jura Links
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4268 Add plugin: Advanced Copy
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4270 Add plugin: Nav Link Header
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4285 Add plugin: Japanese Novel Ruby
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4286 Add plugin: Asciidoctor editor
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4288 Add plugin: Replace All
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4297 Add plugin: Metadata Auto Classifier
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4301 Add plugin: Strava Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4302 Add plugin: Another Simple Todoist Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4305 Add plugin: Translate Inline
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4316 Add plugin: Youtube Iframe Timestamps
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4335 Add plugin: random-retrieval
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4365 Add plugin: Occura
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4370 Add plugin: Callout Toggles
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4304 Add theme: evangelion
  community-css-themes.json
Labels: Ready for review, theme

#4451 Add theme: Borealis
  community-css-themes.json
Labels: Ready for review, theme

#4471 Add theme: Red-Shadow
  community-css-themes.json
Labels: Ready for review, theme

#4485 Add theme: Luminex
  community-css-themes.json
Labels: Ready for review, theme
