Repository obsidianmd/obsidian-releases, pull requests merged in 2024-09, with the labels that each got.

#3752 Add plugin: Live Variables
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3773 Add plugin: ImgBB Uploader
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3785 Add plugin: Import GitHub Readme
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4065 Add theme: Lumines
  community-css-themes.json
Labels: theme, Validation failed

#4128 Add theme: Colored Candy
  community-css-themes.json
Labels: Ready for review, theme

#4138 Add theme: Adrenaline
  community-css-themes.json
Labels: Ready for review, theme

#4148 Add theme: OISTNB
  community-css-themes.json
Labels: Ready for review, theme

#4037 Add plugin: Backtick text selector
  community-plugins.json
Labels: Changes requested, plugin

#4190 Add theme: Black
  community-css-themes.json
Labels: Ready for review, theme

#3993 Add plugin: Daily Note Collector
  community-plugins.json
Labels: Changes requested, plugin

#4014 Add plugin: Quick Cards
  community-plugins.json
Labels: Changes requested, plugin

#4051 Add plugin: Vault to blog
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4053 Add plugin: Tailwind Snippet
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4067 Add plugin: simple-sketch
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4068 Add plugin: Pug Templates
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4083 Add plugin: Draw Steel Elements
  community-plugins.json
Labels: Validation failed, plugin, Changes made

#4196 Add theme: Refined Default
  community-css-themes.json
Labels: Ready for review, theme

#4069 Add theme: Rose Red
  community-css-themes.json
Labels: Ready for review, theme

#4201 Add theme: Minimal Edge
  community-css-themes.json
Labels: Ready for review, theme

#4084 Add plugin: Highlight active folder section
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4086 Add plugin: Canvas LMS Task Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4087 Add plugin: Tokenz
  community-plugins.json
Labels: Ready for review, plugin

#4092 Add plugin: Diarian
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4093 Add plugin: Nexus AI Chat Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4094 Add plugin: Auto Periodic Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4117 Add plugin: Onto Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4119 Add plugin: Journaling
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4127 Add plugin: Edit mode switch
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4132 Add plugin: Print
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4133 Add plugin: Morgen Tasks
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4139 Add plugin: Immich
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4041 Add plugin: Verovio Music Renderer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4155 Add plugin: Card Navigator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4161 Add plugin: Callout menu
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4164 Add plugin: Enhanced Image
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4169 Add plugin: Poker Range
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4171 Add plugin: Spaced everything
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4158 Add plugin: Epiphany
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4178 Add plugin: Pexels Banner
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4179 Add plugin: Rich Foot
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4191 Add plugin: Pintora
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4194 Add plugin: Alignment Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4195 Add plugin: AutoPause
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4237 Add plugin: Code Language Completer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4248 Add plugin: Guitar Chord
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4255 Add plugin: Symlink Creator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4256 Add plugin: Remove Unused Block IDs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4242 Add plugin: Collapse Linked Mentions
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#4154 Add plugin: Diagram Zoom Drag
  community-plugins.json
Labels: Ready for review, plugin

#4159 Add plugin: Figma Embed
  community-plugins.json
Labels: Ready for review, plugin

#4193 Add plugin: XMind Viewer
  community-plugins.json
Labels: Ready for review, plugin

#4204 Add plugin: Auto Strikethrough Tasks
  community-plugins.json
Labels: Ready for review, plugin

#4211 Add plugin: Colorizelt
  community-plugins.json
Labels: Ready for review, plugin

#4213 Add plugin: Magic Mic
  community-plugins.json
Labels: Ready for review, plugin

#4214 Add plugin: Editing Mode Hotkey
  community-plugins.json
Labels: Ready for review, plugin

#4239 Add plugin: Hierarchy
  community-plugins.json
Labels: Ready for review, plugin

#4240 Add plugin: Minimize on Close
  community-plugins.json
Labels: Ready for review, plugin

#4252 Add plugin: Custom Node Size
  community-plugins.json
Labels: Ready for review, plugin

#4101 Add plugin: Mermaid Popup
  community-plugins.json
Labels: Changes requested, plugin
