Repository obsidianmd/obsidian-releases, pull requests merged in 2024-12, with the labels that each got.

#4728 Add theme: Kanagawa Paper
  community-css-themes.json
Labels: Ready for review, theme

#4238 Add plugin: Sync to Hugo
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4488 Add plugin: Magiedit
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4563 Add plugin: Tab Limiter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4564 Add plugin: Share as ZIP
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4616 Add plugin: Wardley Maps
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4671 Add plugin: Class Relation Visualization
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4687 Add plugin: Usher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4707 Add plugin: create folder notes with dropdown
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4825 Add theme: OverCast
  community-css-themes.json
Labels: Ready for review, theme

#4547 Add plugin: Gay Toolbar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4746 Add plugin: Insert New Line
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4722 Add plugin: Cypher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4747 Add plugin: CalloutX
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4770 Add plugin: Sync Cnblog
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4548 Add plugin: ExMemo Tools
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4748 Add plugin: Fetch Prayer Times
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4771 Add plugin: WikiDocs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4784 Add plugin: Link Formatter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4808 Add plugin: Focus Time
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4813 Add plugin: ExMemo Assistant
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4819 Add plugin: Color Folders and Files
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4820 Add plugin: Template by Note Name
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4823 Add plugin: FastForwardLink
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4830 Add plugin: Unit Converter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4380 Add plugin: Force Read Mode
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#4298 Add plugin: Note From Form
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4182 Add plugin: Latex Exporter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4309 Add plugin: AmpliFlow Page Publisher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4404 Add plugin: Kale Graph
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4727 Add plugin: Scribe
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4761 Add plugin: Custom Image Auto Uploader
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4831 Add plugin: WonderBox
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4841 Add plugin: kkh
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4842 Add plugin: Import Todoist tasks
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4843 Add plugin: Link Maintainer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4911 Add theme: Simple Color
  community-css-themes.json
Labels: Ready for review, theme

#4944 Add theme: Sakurajima
  community-css-themes.json
Labels: Ready for review, theme

#4946 Add theme: Cupertino
  community-css-themes.json
Labels: Ready for review, theme

#4982 Add theme: Emerald Echo
  community-css-themes.json
Labels: Ready for review, theme

#4526 Add plugin: Export to HTML
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4538 Add plugin: NodeFlow
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4719 Add plugin: Send Note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4765 Add plugin: Project Tasks
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4794 Add plugin: Cursor Position on Title Enter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4874 Add plugin: Smart Context
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4875 Add plugin: Theme Controller
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4879 Add plugin: Insert Multiple Attachments
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4884 Add plugin: Smart Link Alias
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5008 update description
  community-plugins.json
Labels: Changes requested
