Repository obsidianmd/obsidian-releases, pull requests merged in 2024-06, with the labels that each got.

#3640 Add theme: Allium
  community-css-themes.json
Labels: Ready for review, theme

#3595 Add plugin: Statblock Sidekick
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3566 Add plugin: Checkbox Time Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3579 Add plugin: Noor
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3586 Add plugin: Graph Banner
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3590 Add plugin: Memos Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3596 Add plugin: Pin Enhancer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3604 Add plugin: Link to Verse
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3222 Add plugin: Templify
  community-plugins.json
Labels: Changes requested, plugin

#3226 Add plugin: Ayanite
  community-plugins.json
Labels: Changes requested, plugin

#2919 Add plugin: Docxer
  community-plugins.json
Labels: Changes requested, plugin

#3166 Add plugin: The Queue
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3334 Add plugin: Folder by tags distributor
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3348 Add plugin: POWER MODE
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3358 Add plugin: Rapid AI
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3388 Add plugin: ClickUp sync
  community-plugins.json
Labels: Changes requested, plugin

#3366 Add plugin: Tabs
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3649 Add theme: Pale - 淡
  community-css-themes.json
Labels: Ready for review, theme, Changes made

#3563 Add plugin: Vault Name
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3564 Add plugin: Substitutions
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3571 Add plugin: Infostacker Note Publish
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3573 Add plugin: AudioPen Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3609 Add plugin: Pivotal Tracker URL Helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3614 Add plugin: Relative Timestamps
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3617 Add plugin: Simple Prompt
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3620 Add plugin: Explorer Hider
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3631 Add plugin: Headings in Explorer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3634 Add plugin: Medium Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3635 Add plugin: Smart Connections Visualizer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3658 Add plugin: Prettier
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3686 Add plugin: Pinned Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3636 Add plugin: Svelte Syntax Highlighter
  community-plugins.json
Labels: Ready for review, plugin

#3641 Add plugin: MIDI Logger
  community-plugins.json
Labels: Ready for review, plugin

#3656 Add plugin: Checklist Progress
  community-plugins.json
Labels: Ready for review, plugin

#3671 Add theme: Creme brulee
  community-css-themes.json
Labels: Ready for review, theme

#3669 Add theme: Dynamic Color
  community-css-themes.json
Labels: Ready for review, theme

#3691 Add theme: Dark Castle
  community-css-themes.json
Labels: Ready for review, theme

#3696 Add theme: RetroNotes
  community-css-themes.json
Labels: Ready for review, theme

#3585 Add plugin: Explain Selection With AI
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3668 Add plugin: Toggle Dark Mode
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3670 Add plugin: Plugins Annotations
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3684 Add plugin: Close Window When Empty
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3694 Add plugin: Tars
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3701 Add plugin: Toggle Readable line length
  community-plugins.json
Labels: Ready for review, plugin

#3705 Add plugin: Definition List
  community-plugins.json
Labels: Ready for review, plugin

#3706 Add plugin: Line Arrange
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3708 Add plugin: Search In Canvas
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3521 Add plugin: Sheet Plus
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3625 Add plugin: Watched-Metadata
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3638 Add plugin: Task List Kanban
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3654 Add plugin: Interactive Code Blocks
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3687 Add plugin: You and Your Research
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3698 Add plugin: Dialogue Mode
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3704 Add plugin: Smart Text Mover
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3707 Add plugin: Lookalike
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3711 Add plugin: Header Adjuster
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3718 Add plugin: Gemini Generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3721 Add plugin: Node Auto Resize
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3722 Add theme: Bossidian
  community-css-themes.json
Labels: Ready for review, theme, Changes made

#3737 Add theme: Aurora-Twilight
  community-css-themes.json
Labels: Ready for review, theme

#3753 Add theme: Evergreen-Shadow
  community-css-themes.json
Labels: Ready for review, theme

#3754 Add theme: Velvet-Moon
  community-css-themes.json
Labels: Ready for review, theme

#3755 Add theme: Midnight-Fjord
  community-css-themes.json
Labels: Ready for review, theme

#3756 Add theme: Mint-Breeze
  community-css-themes.json
Labels: Ready for review, theme

#3757 Add theme: Lavender-Mist
  community-css-themes.json
Labels: Ready for review, theme

#3758 Add theme: Northern-Sky
  community-css-themes.json
Labels: Ready for review, theme

#3496 Add plugin: SQLSeal
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3569 Add plugin: Spoilers
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3716 Add plugin: Asciidoc Reader
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3717 Add plugin: Another Sticky Headings
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3720 Add plugin: doing
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3724 Add plugin: Daily Note Structure
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3725 Add plugin: RPG Stat Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3729 Add plugin: Smart Memos
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3730 Add plugin: Syrinscape Online Player
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3738 Add plugin: Quran Helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3742 Add plugin: Page Scroll
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3765 Add theme: Seamless View
  community-css-themes.json
Labels: Ready for review, theme
