Repository obsidianmd/obsidian-releases, pull requests merged in 2024-07, with the labels that each got.

#2837 Add plugin: Wechat Public Platform
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3481 Add plugin: Note to MP
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3516 Add plugin: Xournal++
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3567 Add plugin: Dataview Serializer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3568 Add plugin: Fast Text Color
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3570 Add plugin: Guid Renamer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3655 Add plugin: Front Matter Timestamps
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3661 Add plugin: Publish to DEV
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3667 Add plugin: e-Daiary
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3674 Add plugin: Dataview Publisher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3680 Add plugin: NSFW filter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3728 Add plugin: File Flex
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3734 Add plugin: Edit in Neovim
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3735 Add plugin: Todoist Indicator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3747 Add plugin: Checkbox styling helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3513 Add plugin: Import Attachments+
  community-plugins.json
Labels: Ready for review, plugin

#3751 Add plugin: Virtual Linker / Glossary
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3761 Add plugin: Are.na Manager
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3787 Add plugin: Shrink pinned tabs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3788 Add plugin: Remove Newlines
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3791 Add plugin: Entity Linker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3794 Add plugin: Datepicker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3802 Add plugin: AI Chat as Markdown
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3805 Add plugin: Sidebar Resizer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3824 Add plugin: Refresh Preview
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3783 Add theme: Gummy-Revived
  community-css-themes.json
Labels: Ready for review, theme

#3815 Add theme: Agate
  community-css-themes.json
Labels: Ready for review, theme

#3841 Add theme: Vanilla Palettes
  community-css-themes.json
Labels: Ready for review, theme

#3833 Add plugin: Hash Pasted Image
  community-plugins.json
Labels: Ready for review, plugin

#3778 Add plugin: Iconic
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3796 Add plugin: Notes Refresher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3810 Add plugin: DocBase (Unofficial)
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3811 Add plugin: Latex Render
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3819 Add plugin: Code Link
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3518 Add plugin: Index Notes
  community-plugins.json
Labels: Ready for review, plugin

#3549 Add plugin: Plot Vectors and Graphs
  community-plugins.json
Labels: Ready for review, plugin

#3551 Add plugin: NyanBar
  community-plugins.json
Labels: Ready for review, plugin

#3857 Add theme: Dark Clarity
  community-css-themes.json
Labels: Ready for review, theme

#3842 Add theme: Nier
  community-css-themes.json
Labels: Ready for review, theme

#3662 Add plugin: mpv links
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3682 Add plugin: Iron Vault
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3688 Add plugin: PopKit
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3092 Add plugin: LanguageTool
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3345 Add plugin: Browser Interface
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3390 Add plugin: Nextcloud Link Fixer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3869 Add theme: Pxld
  community-css-themes.json
Labels: Ready for review, theme, Changes made

#3673 Add plugin: Everyday Classical Music
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3749 Add plugin: Vikunja Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3760 Add plugin: Chinese Calendar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3790 Add plugin: Unofficial Fabric Integration
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3672 Add plugin: Caret
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3795 Add plugin: Messager
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3800 Add plugin: Giphy
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3821 Add plugin: Image Metadata
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3834 Add plugin: Journal Folder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3852 Add plugin: Lite Gallery
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3863 Add plugin: Pia viewer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3870 Add plugin: Cognitive Architect Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3871 Add plugin: AI image analyzer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3873 Add plugin: VirtFolder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3874 Add plugin: Magic Move
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3887 Add theme: Muted-Blue
  community-css-themes.json
Labels: Ready for review, theme

#3799 Add plugin: Math Indicator Changer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3900 Add theme: Oreo
  community-css-themes.json
Labels: Ready for review, theme

#3884 Add plugin: Pdf Annotator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3919 Add theme: Brainhack
  community-css-themes.json
Labels: Ready for review, theme

#3823 Add plugin: OpenAPI Renderer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3861 Add plugin: Tags Routes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3872 Add plugin: Note Linker with Previewer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3890 Add plugin: Paste as Embed
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3894 Add plugin: Better Recall
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3898 Add plugin: Images to Gist
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3907 Add plugin: Heading Toggler
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3909 Add plugin: Rollover Weekly Todo
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3954 Add theme: nobb
  community-css-themes.json
Labels: Ready for review, theme

#3969 Add theme: Vanilla AMOLED Color
  community-css-themes.json
Labels: Ready for review, theme

#3404 Add plugin: YouTube downloader
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3858 Add plugin: Image to notes by Photes.IO
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3899 Add plugin: Note 2 Tag Generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3901 Add plugin: Post Medium Draft
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3912 Add plugin: Fast Image Auto Uploader
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3921 Add plugin: Auto Folder Collapse
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3922 Add plugin: Dashboard navigator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3930 Add plugin: Quick Open
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3932 Add plugin: Rich Text Editor Shortcuts
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3933 Add plugin: Share via Notepad Tab
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3942 Add plugin: Recent Tab Switcher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3950 Add plugin: Marker PDF to MD
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3541 Add plugin: Hexo Publisher
  community-plugins.json
Labels: Ready for review, plugin

#3973 Add theme: Abate
  community-css-themes.json
Labels: Ready for review, theme

#3844 Add plugin: Inline spoilers
  community-plugins.json
Labels: Ready for review, plugin

#3976 Add theme: Ayu Light & Mirage
  community-css-themes.json
Labels: Ready for review, theme
