Repository obsidianmd/obsidian-releases, pull requests merged in 2024-02, with the labels that each got.

#2825 Add plugin: Ctrl-XA cycle various items
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2910 Add plugin: GitHobs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2953 Add plugin: Paste From History
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3051 Add theme: Improved Potato
  community-css-themes.json
Labels: Ready for review, theme

#2969 Add plugin: Hanayama Huzzles Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2960 Add plugin: Instapaper
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3058 Add theme: Neovim
  community-css-themes.json
Labels: Ready for review, theme

#2966 Add plugin: Full Screen Toggle
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2886 Add plugin: Persistent Key-Value Store
  community-plugins.json
Labels: Ready for review, plugin

#2903 Add plugin: Settings profiles
  community-plugins.json
Labels: Ready for review, plugin

#2996 Add plugin: Font Size Adjuster
  community-plugins.json
Labels: Ready for review, plugin

#2998 Add plugin: Create Task
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2424 Add plugin: Timeline Schedule
  community-plugins.json
Labels: Ready for review, plugin

#2639 Add plugin: cursor-goaway
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2704 Add plugin: Continuous Mode
  community-plugins.json
Labels: Changes requested, plugin

#2728 Add plugin: Multi State CheckBox Switcher
  community-plugins.json
Labels: Ready for review, plugin

#2987 Add plugin: Single File Daily Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2892 Add plugin: Apple Books - Import Highlights
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2768 Add plugin: Rss Copyist
  community-plugins.json
Labels: Validation failed, plugin

#2774 Add plugin: Vk group notifier
  community-plugins.json
Labels: Ready for review, plugin

#2777 Add plugin: Pinyin Replacer
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2779 Add plugin: Markline
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2780 Add plugin: Youtube Summarizer
  community-plugins.json
Labels: Ready for review, plugin

#2795 Add plugin: UseSemaLogic
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2799 Add plugin: Nested Daily Todos
  community-plugins.json
Labels: Ready for review, plugin

#2800 Add plugin: Root Folder Context Menu
  community-plugins.json
Labels: Ready for review, plugin

#3050 Add plugin: Daily note creator
  community-plugins.json
Labels: Ready for review, plugin

#3061 Add plugin: Fastimer
  community-plugins.json
Labels: Ready for review, plugin

#2840 Add plugin: Beautitab
  community-plugins.json
Labels: Ready for review, plugin

#3063 Add plugin: Consecutive Lists
  community-plugins.json
Labels: Ready for review, plugin

#3075 Add theme: Sparkling Day
  community-css-themes.json
Labels: Ready for review, theme

#3078 Add plugin: Hatena Blog Publisher
  community-plugins.json
Labels: Ready for review, plugin

#3003 Add plugin: Reason
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2776 Add plugin: iCloud Contacts
  community-plugins.json
Labels: Ready for review, plugin

#2802 Add plugin: Dynamic Text Concealer
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2803 Add plugin: Timelines (Revamped)
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2804 Add plugin: Gemini Assistant
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2806 Add plugin: Canvas Daily Note
  community-plugins.json
Labels: Ready for review, plugin

#2808 Add plugin: Contribution Graph
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2815 Add plugin: Mathematica Plot
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2816 Add plugin: Evernote Decryptor
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2834 Add plugin: Arrows
  community-plugins.json
Labels: Ready for review, plugin

#2819 Add plugin: Outline++
  community-plugins.json
Labels: Ready for review, plugin

#2850 Add plugin: Better Order List
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Skipped code scan

#2852 Add plugin: Templated daily notes
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2858 Add plugin: Aloud
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2855 Add plugin: Better Export PDF
  community-plugins.json
Labels: Changes requested, plugin, Additional review required

#2763 Add plugin: Days Since
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2879 Add plugin: Bible linker Pro
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2907 Add plugin: Protected Note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2945 Add plugin: Status Bar Organizer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2908 Add plugin: Image Inline
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2954 Add plugin: Task list
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2982 Add plugin: Share my plugin list
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#2985 Add plugin: GPG Encrypt
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3000 Add plugin: Smart Second Brain
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3011 Add plugin: GitHub Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3021 Add plugin: Kindle Highlights Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3028 Add plugin: Journalyst
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3033 Add plugin: TV tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3045 Add plugin: Broken Links
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3046 Add plugin: Image Collector
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3052 Add plugin: Set View Mode per Note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3057 Add plugin: WordWise
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3066 Add plugin: Git Integration
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3069 Add plugin: GitHub Link
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3079 Add plugin: Simple File Push
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3022 Add plugin: Copy as source
  community-plugins.json
Labels: Ready for review, plugin, Skipped code scan

#2844 Add plugin: Alfonso Money Manager
  community-plugins.json
Labels: Ready for review, plugin

#2847 Add plugin: PDF++
  community-plugins.json
Labels: Ready for review, plugin

#2851 Add plugin: Go Up
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2887 Add plugin: Format with Prettier
  community-plugins.json
Labels: Ready for review, plugin

#2890 Add plugin: Image Magician
  community-plugins.json
Labels: Ready for review, plugin

#2891 Add plugin: Graphs
  community-plugins.json
Labels: Ready for review, plugin

#2905 Add plugin: CardNote
  community-plugins.json
Labels: Ready for review, plugin

#2911 Add plugin: Simple Image Inserter
  community-plugins.json
Labels: Ready for review, plugin

#2914 Add plugin: Graph Link Types
  community-plugins.json
Labels: Ready for review, plugin

#2915 Add plugin: Fix Require Modules
  community-plugins.json
Labels: Ready for review, plugin

#2916 Add plugin: Auto Definition Link
  community-plugins.json
Labels: Ready for review, plugin

#2922 Add plugin: Chord Sheets
  community-plugins.json
Labels: Ready for review, plugin

#3005 Add plugin: Enhanced tables
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3054 Add plugin: Lean Syntax Highlight
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#2841 Add plugin: AI Tagger
  community-plugins.json
Labels: Ready for review, plugin

#2943 Add plugin: Quiz Generator
  community-plugins.json
Labels: Changes requested, plugin

#2959 Add plugin: Goban SGF
  community-plugins.json
Labels: Ready for review, plugin

#2980 Add plugin: Display Relative Path Img
  community-plugins.json
Labels: Ready for review, plugin

#3014 Add plugin: AI File Organizer 2000
  community-plugins.json
Labels: Ready for review, plugin

#2988 Add plugin: Spotify API
  community-plugins.json
Labels: Ready for review, plugin

#2983 Add plugin: PF2e Statblocks
  community-plugins.json
Labels: Ready for review, plugin

#3077 Add plugin: Canvas Link Optimizer
  community-plugins.json
Labels: Ready for review, plugin

#3081 Add plugin: Inline Admonitions
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3059 Add plugin: Filtered Opener
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3044 Add plugin: Todoist Review
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3053 Add plugin: Image to text OCR
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3089 Add plugin: PDF break page
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3071 Add plugin: Tiff Viewer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3088 Add plugin: Seafile
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3090 Add plugin: Select & Complete
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3152 Add theme: mono black (monochrome, charcoal)
  community-css-themes.json
Labels: Changes requested, theme, Minor changes requested

#3127 Add plugin: Plugin Reloader
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3124 Add plugin: Ego Rock
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3012 Add plugin: Augmented Canvas
  community-plugins.json
Labels: Ready for review, plugin

#3037 Add plugin: Prompt ChatGPT
  community-plugins.json
Labels: Ready for review, plugin

#3018 Add plugin: Canvas Mindmap Helper
  community-plugins.json
Labels: Ready for review, plugin

#3015 Add plugin: Advanced Canvas
  community-plugins.json
Labels: Ready for review, plugin

#3076 Add plugin: Quadro
  community-plugins.json
Labels: Ready for review, plugin

#3013 Add plugin: Enhanced Annotations
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested

#3146 Add plugin: Pomodoro Widget
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Skipped code scan

#3147 Add plugin: Gitlab Wiki Exporter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3099 Add plugin: MBlog Publish
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3095 Add plugin: Text Focus
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3094 Add plugin: Tab Shifter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3091 Add plugin: Alias Management
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3133 Add plugin: historica
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3129 Add plugin: Date Inserter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3114 Add plugin: Tekken Notation
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3140 Add plugin: MantouAI
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3093 Add plugin: Pomodoro Planner
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#3131 Add plugin: BookFusion
  community-plugins.json
Labels: Changes requested, plugin, Minor changes requested
