Repository obsidianmd/obsidian-releases, pull requests merged in 2025-04, with the labels that each got.

#5881 Add theme: Planetary
  community-css-themes.json
Labels: Changes requested, theme

#5271 Add plugin: PomoBar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5284 Add plugin: Generate Timeline
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5504 Add plugin: Sticky Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5564 Add plugin: HiNote
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5699 Add plugin: Private Mode
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5700 Add plugin: GitHub Stars
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5711 Add plugin: Project Euler Stats
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5715 Add plugin: Simple File Info
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5716 Add plugin: Open in GitHub
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5740 Add plugin: Smooth Navigator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5747 Add plugin: Duplicate line
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5753 Add plugin: GitHub Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5222 Add plugin: WeWrite
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5360 Add plugin: Smart Vault Visualizer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5376 Add plugin: Browser History
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5501 Add plugin: Related Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5649 Add plugin: White Noise
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5719 Add plugin: Jira Issue Manager
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5902 Add theme: Neumorphism
  community-css-themes.json
Labels: Ready for review, theme

#5927 Add theme: cocoa
  community-css-themes.json
Labels: Ready for review, theme

#5928 Add theme: parfait
  community-css-themes.json
Labels: Ready for review, theme

#5951 Add theme: Camena
  community-css-themes.json
Labels: Ready for review, theme

#5967 Add theme: Pomme Notes
  community-css-themes.json
Labels: Ready for review, theme

#5955 Add theme: Dust
  community-css-themes.json
Labels: Ready for review, theme

#6016 Add theme: deep submerge
  community-css-themes.json
Labels: Ready for review, theme

#5978 Add theme: Mono High Contrast
  community-css-themes.json
Labels: Ready for review, theme

#6117 Add theme: Publisher
  community-css-themes.json
Labels: Ready for review, theme

#5215 Add plugin: Codeless Heatmap Calendar
  community-plugins.json
Labels: Ready for review, plugin, Changes made, Skipped code scan

#5340 Add plugin: On This Day I
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5520 Add plugin: Large Language Models
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5608 Add plugin: Hide Index Files
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5606 Add plugin: Crosslink Advanced
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5616 Add plugin: Folder Navigator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5665 Add plugin: Digital Sticky Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5636 Add plugin: QueryDash
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5695 Add plugin: Minimal Quiz
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5698 Add plugin: Auto Bullet
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5728 Add plugin: Word Frequency
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5745 Add plugin: Interactive Ratings
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5750 Add plugin: Cubox
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5754 Add plugin: Mention Things
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5774 Add plugin: ProgressTracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5787 Add plugin: Easy Copy
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5789 Add plugin: Open Tab Settings
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5744 Add plugin: ClipperMaster
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5791 Add plugin: Paste Reformatter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5799 Add plugin: CSV Lite
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5806 Add plugin: Double row toolbar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5807 Add plugin: Advanced Debug Mode
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5812 Add plugin: Note Locker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5821 Add plugin: Inscribe
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5822 Add plugin: Event Highlight
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5823 Add plugin: Auto Daily Note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5832 Add plugin: Proofreader
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5174 Add plugin: Reader Mode
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5748 Add plugin: Date Range Expander
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5835 Add plugin: Quick Peek Sidebar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5841 Add plugin: Advanced Note Composer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5846 Add plugin: JW Library Linker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5850 Add plugin: Rainbow Folders Fixer
  community-plugins.json
Labels: plugin, Changes made

#5833 Add plugin: Image Embedder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5858 Add plugin: About Blank
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5876 Add plugin: JupyMD
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5883 Add plugin: Reference Link Render
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5612 Add plugin: Reveal Folded
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5890 Add plugin: Tick Tones
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5891 Add plugin: Model Viewer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5894 Add plugin: Sentence Rhythm
  community-plugins.json
Labels: Ready for review, plugin, Changes made
