Repository obsidianmd/obsidian-releases, pull requests merged in 2025-05, with the labels that each got.

#6148 Add theme: TerraFlow
  community-css-themes.json
Labels: Ready for review, theme

#6182 Add theme: RetroOS 98
  community-css-themes.json
Labels: Ready for review, theme

#6235 Add theme: Quillcode
  community-css-themes.json
Labels: Ready for review, theme

#6271 Add theme: Soli Deo Gloria
  community-css-themes.json
Labels: Ready for review, theme

#6263 Add theme: Hojicha
  community-css-themes.json
Labels: Ready for review, theme

#5432 Add plugin: Textfresser
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5604 Add plugin: YTSummarizer
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made

#5703 Add plugin: Limitless Lifelogs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5439 Add plugin: Rainbow-Colored Sidebar
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made

#5712 Add plugin: VCF Contacts
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made

#5827 Add plugin: Draw Steel Retainer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5828 Add plugin: Reactive Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5896 Add plugin: Water Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5905 Update plugin: Memodack
  community-plugins.json
Labels: Ready for review, Changes made

#5909 Add plugin: LawList: Custom List Styles
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5911 Add plugin: Another Name
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5908 Add plugin: Note Status
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made, Skipped code scan

#5947 Add plugin: DataCards
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made

#5950 Add plugin: Inline Callouts
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5989 Add plugin: logos-refs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5991 Add plugin: Easy Keep View
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5992 Add plugin: Custom Commands
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5994 Add plugin: Backlink Settings
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6298 Add theme: Marathon
  community-css-themes.json
Labels: Ready for review, theme

#6282 Add theme: Handwriting (Kalam)
  community-css-themes.json
Labels: Ready for review, theme

#6353 Add theme: Vesper
  community-css-themes.json
Labels: Ready for review, theme

#5540 Add plugin: Notes Explorer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5990 Add plugin: Markdown Flip
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6003 Add plugin: Convert Base64 to PNG
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6005 Add plugin: MemoChron
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6008 Add plugin: Paste Image Rename and Convert
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6009 Add plugin: Enhanced Publisher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6026 Add plugin: Tasks Cleaner
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6027 Add plugin: Mark Open Files
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6032 Add plugin: Format Automatically with Prettier
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6033 Add plugin: FileName Styler
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6038 Add plugin: JIRA links shortener
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6039 Add plugin: YouTrack Fetcher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6040 Add plugin: Cut The Fluff
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6041 Add plugin: Simple Colored Folder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6043 Add plugin: Simple Password
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6341 Add theme: Powered by Lancer
  community-css-themes.json
Labels: Ready for review, theme

#5438 Add plugin: Wakatime / Wakapi
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5968 Add plugin: Vertical Timeline List
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6048 Add plugin: Comments
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6067 Add plugin: Virtual Footer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6068 Add plugin: MatchSyntax
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6098 Add plugin: Theme by Folder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6105 Add plugin: GitHub Integration
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6402 Add theme: Terminal2K
  community-css-themes.json
Labels: Changes requested, theme, Minor changes requested

#6106 Add plugin: BibLib
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6407 Add theme: Meridian
  community-css-themes.json
Labels: Ready for review, theme

#6049 Add plugin: Regex Line Filter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6109 Add plugin: TODO Highlighter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6151 Add plugin: Hadith Lookup
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6186 Add plugin: Hledger Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6187 Add plugin: Markwhen File Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6194 Add plugin: Typecho
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5860 Add plugin: Zen Space
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5912 Add plugin: Pasterly
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6037 Add plugin: MP Preview
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5575 Add plugin: Sync Emails
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6176 Add plugin: Status.lol Publisher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6206 Add plugin: Monokakido Copilot
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6208 Add plugin: Live Background
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6214 Add plugin: Images to Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5842 Add plugin: Japanese note taking helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6177 Add plugin: Simple Tab Indent
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6188 Add plugin: Markdown Hijacker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6239 Add plugin: Auto Note Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made
