Repository obsidianmd/obsidian-releases, pull requests merged in 2025-07, with the labels that each got.

#6388 Add plugin: Korean Book Search
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6435 Add plugin: Canvas Connect
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6487 Add plugin: Character Sheets
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6488 Add plugin: Discord Message Sender
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6533 Add plugin: Auto Replacer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6538 Add plugin: Heading Helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6545 Add plugin: Scrolling
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6547 Add plugin: Random broken link
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6525 Add plugin: Copy Absolute Path
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6279 Add plugin: Kindle Highlights Import
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6528 Add plugin: Smart Excluded
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7009 Add theme: FlatCap
  community-css-themes.json
Labels: Ready for review, theme

#7029 Add theme: Mushin
  community-css-themes.json
Labels: Ready for review, theme

#6387 Add plugin: Coalesce
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6461 Add plugin: Replace Pencil
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6466 Add plugin: Alpha Bullet
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6584 Add plugin: Yandex Wiki Integration
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6578 Add plugin: Scratchpad
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6404 Add plugin: Diary ICS
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6560 Add plugin: Sidecars
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6602 Add plugin: SOC Toolkit
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6630 Add plugin: Markdown Calendar Generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7055 Add theme: Robsi
  community-css-themes.json
Labels: Ready for review, theme

#6639 Add plugin: Timeline Canvas Creator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6673 Add plugin: Simple Anki Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6694 Add plugin: Frontmatter Metadata Link Classes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6697 Add plugin: Insert Arknights URL Banner
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6311 Add plugin: Better Mind Map
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6657 Add plugin: Blueprint Renderer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7074 Add theme: RedShift: OLED Blue Light Filter
  community-css-themes.json
Labels: Changes requested, theme, Minor changes requested

#6301 Add plugin: deepseek-ai-assistant
  community-plugins.json
Labels: Ready for review, plugin

#6710 Add plugin: Food Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6529 Add plugin: Object Oriented Thinking
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5628 Add plugin: Send to Canvas
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6607 Add plugin: Template Folder
  community-plugin-stats.json
  community-plugins.json
Labels: Validation failed, plugin, Changes made

#6079 Add plugin: T4: Task Tree Time Totaler
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6031 Add plugin: Storyteller Suite
  community-plugins.json
Labels: Ready for review, plugin, Changes made, Skipped code scan

#6650 Add plugin: Simple Columns
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6686 Add plugin: .url WebView Opener
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6762 Add plugin: Random Wikipedia Article
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6772 Add plugin: Github Issues
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6143 Add plugin: Sonkil
  community-plugins.json
Labels: Ready for review, plugin, Skipped code scan

#6695 Add plugin: Citation Callouts
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6696 Add plugin: WebDAV Image Uploader
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6776 Add plugin: Related Notes by Tag
  community-plugins.json
Labels: Ready for review, plugin, Changes made
