Repository obsidianmd/obsidian-releases, pull requests merged in 2025-09, with the labels that each got.

#6988 Add plugin: Drag To Scroll
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7662 Add theme: Velocity
  community-css-themes.json
Labels: Ready for review, theme

#6780 Add plugin: LiteCite
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6832 Add plugin: Version Control
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6884 Add plugin: X Post Saver
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6933 Add plugin: Shell Path Copy
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6979 Add plugin: Startpage
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7012 Add plugin: Zettelkasten Branch Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7015 Add plugin: NoteSmith
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7017 Add plugin: Accounting Journal and Ledger
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7021 Add plugin: Remote Fetch
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6966 Add plugin: Chinese chess
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7062 Add plugin: Yandex Tracker Issue
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7054 Add plugin: Paste as file link
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7718 Add theme: Noctilux
  community-css-themes.json
Labels: Ready for review, theme

#6416 Add plugin: Keyboard Formatter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6527 Add plugin: Datacore
  community-plugins.json
Labels: Ready for review, plugin, Additional review required, Changes made

#7241 Add plugin: Move Cursor On Startup
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7025 Add plugin: XMind Linker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7803 Add theme: Tyrone Neon
  community-css-themes.json
Labels: Ready for review, theme

#7857 Add theme: Poimandres Extended
  community-css-themes.json
Labels: Ready for review, theme

#7903 Add theme: Future
  community-css-themes.json
Labels: Ready for review, theme
