Repository obsidianmd/obsidian-releases, pull requests merged in 2025-03, with the labels that each got.

#5083 Add plugin: Infio Copilot
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5210 Add plugin: Task Mover
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5212 Add plugin: Title As Link Text
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5329 Add plugin: Cursor Position History
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5330 Add plugin: Vision Recall
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5347 Add plugin: VaultSync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5349 Add plugin: Content Cards
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5373 Add plugin: ASCII Tree Generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5544 Add theme: LessWrong
  community-css-themes.json
Labels: Ready for review, theme

#5559 Add theme: Vercel Geist
  community-css-themes.json
Labels: Ready for review, theme

#5565 Add theme: aged whisky
  community-css-themes.json
Labels: Ready for review, theme

#5378 Add plugin: KOI Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5383 Add plugin: AI Tagger Universe
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5399 Add plugin: Chat clips
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5584 Add theme: FastPpuccin
  community-css-themes.json
Labels: Ready for review, theme

#4952 Add plugin: Memos AI Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5208 Add plugin: Blog AI Generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5229 Add plugin: Spaced Repetition AI
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5441 Add plugin: Tier List
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5443 Add plugin: Write Good
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5452 Add plugin: Reading View j/k Scroll
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5462 Add plugin: Export Graph View
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5489 Add plugin: Hârn Weather Generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5152 Add plugin: Previous Daily Note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5313 Add plugin: SQLite DB
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5345 Add plugin: Tab Group Arrangement
  community-plugins.json
Labels: Changes requested, plugin, Skipped code scan

#5316 Add plugin: File Ignore
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5362 Add plugin: Waveform Player
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5421 Add plugin: Jade Publisher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5450 Add plugin: Bible sidecar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5466 Add plugin: tidit
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5478 Add plugin: Copy Local Graph Paths
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5502 Add plugin: Daily Note Metrics
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5519 Add plugin: Musical Text
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5522 Add plugin: Mode manager
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5525 Add plugin: Note Placeholder
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5526 Add plugin: URI Converter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5528 Add plugin: Inline Code Copy
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5533 Add plugin: Student Repo
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5460 Add plugin: InfoFlow
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4900 Add plugin: Image Picker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5239 Add plugin: Note Favicon
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5267 Add plugin: CSV All-in-One
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5505 Add plugin: Bookshelf
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5508 Add plugin: Dropbox Photo Grid
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5546 Add plugin: Tagvis
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made, Skipped code scan

#5563 Add plugin: Attachments Cache
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5566 Add plugin: Idealogs Annotator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5568 Add plugin: Paper Clipper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5731 Change the author: Lumines
  community-css-themes.json
Labels: Changes requested

#4809 Add plugin: Multiple Daily Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5578 Add plugin: Time Bullet
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5585 Add plugin: Smooth Cursor
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5586 Add plugin: Annotate Audio
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5596 Add plugin: File Title Updater
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4783 Add plugin: Vault Nickname
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4994 Add plugin: Chronotyper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4785 Add plugin: Link Opening Restore
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5434 Add plugin: LINE Notes Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5437 Add plugin: Hover Reveal
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5554 Add plugin: Daily News Briefing
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5567 Add plugin: Wordflow Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5627 Add plugin: AutoMover
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5633 Add plugin: Canvas Format Brush
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5792 Add theme: Things 3
  community-css-themes.json
Labels: Ready for review, theme

#5635 Add plugin: Image to HTML
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5637 Add plugin: One Step Wiki Link
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5639 Add plugin: TG Emoji Search
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5662 Add plugin: Pinned Daily Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5664 Add plugin: Ink Player
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5666 Add plugin: Heading Decorator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5640 Add plugin: Backlink Full Path
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5669 Add plugin: Advanced Progress Bars
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4968 Add plugin: Research Quest
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5159 Add plugin: Yesterday's note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5576 Add plugin: Smart ChatGPT
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5641 Add plugin: GitHub Gitless Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5650 Add plugin: Wheel Tab Switcher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5260 Add plugin: Collapsible Code Blocks
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5379 Add plugin: CmdSearch
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5671 Add plugin: Command Line
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5611 Add plugin: Auto Folder Note Paste
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5620 Add plugin: AI Helper
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5673 Add plugin: Git Changelog
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5677 Add plugin: Xiaohongshu Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5587 Add plugin: WordCraft
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5647 Add plugin: Outlook Meeting Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5652 Add plugin: Markitdown File Converter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5678 Add plugin: Node Factor
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5684 Add plugin: Smart DayNight switcher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5693 Add plugin: Kanban Status Updater
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5875 Add theme: Enhanced file explorer tree
  community-css-themes.json
Labels: Ready for review, theme
