Repository obsidianmd/obsidian-releases, pull requests merged in 2025-02, with the labels that each got.

#5207 Add theme: Sunbather
  community-css-themes.json
Labels: Ready for review, theme

#4897 Add plugin: Plugin Update Locker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4901 Add plugin: Kikijiki Habit Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4913 Add plugin: Dataview Autocompletion
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4915 Add plugin: Image Preview on Icon Hover
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4993 Add plugin: Clone Vault
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5041 Add plugin: WhatsApp backup importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5049 Add plugin: Context Command Hider
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5323 Add theme: Minimal Red
  community-css-themes.json
Labels: Ready for review, theme, Changes made

#5371 Add theme: Rose Pine
  community-css-themes.json
Labels: Ready for review, theme

#4927 Add plugin: NetClip
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5050 Add plugin: Plugin REPL
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5062 Add plugin: YouTube Video Summarizer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5065 Add plugin: WhatsApp export note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5078 Add plugin: InlineAI
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5086 Add plugin: Tag Tactician
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5090 Add plugin: Data Files Editor
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5095 Add plugin: New Note Fixer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5054 Add plugin: Explorer Colors
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5089 Add plugin: Readeck Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5101 Add plugin: MCP Tools
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5102 Add plugin: AI Providers
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5103 Add plugin: Folder overview
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5109 Add plugin: WHISPERER.md
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5115 Add plugin: Enhanced Canvas
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5386 Add theme: Composer
  community-css-themes.json
Labels: Ready for review, theme

#5388 Add theme: Old World
  community-css-themes.json
Labels: Ready for review, theme

#5422 Add theme: Material 3
  community-css-themes.json
Labels: Ready for review, theme

#4752 Add plugin: Varinote
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5116 Add plugin: Vector Search
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5119 Add plugin: Feedly Annotations Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5120 Add plugin: Duplicate Detector
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5123 Add plugin: Callout Copy Buttons
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5126 Add plugin: Lancaster University Week Format
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5137 Add plugin: Sankey
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5144 Add plugin: External File Linker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5147 Add plugin: Mastodon Threading
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5148 Add plugin: Memodack
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4939 Add plugin: AI integration Hub
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5156 Add plugin: Glasp
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5157 Add plugin: Confluence Converter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5161 Add plugin: CAO
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5175 Add plugin: Minote Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5179 Add plugin: Age Encrypt
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5181 Add plugin: Fold Properties By Default
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5187 Add plugin: Combo Colors
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5200 Add plugin: Autofit Tabs
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5114 Add plugin: Organized daily notes
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made, Skipped code scan

#5110 Add plugin: Hotstrings
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5214 Add plugin: Runsh
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5226 Add plugin: Papyrus
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5230 Add plugin: NerdFont Icon Picker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5231 Add plugin: EUpload
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5233 Add plugin: Every Day Calendar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5252 Add plugin: Inkporter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5453 Add theme: Serif
  community-css-themes.json
Labels: Ready for review, theme

#4878 Add plugin: Media Link to HTML
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4640 Add plugin: Emoji Picker
  community-plugins.json
Labels: Changes requested, plugin

#4948 Add plugin: Pseudo Mica
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5272 Add plugin: Attachments MD Indexer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5276 Add plugin: SQLSeal Charts
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5278 Add plugin: hello nemesis
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5209 Add plugin: Forms
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5193 Add plugin: Note ID
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5288 Add plugin: Automatic Linker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4833 Add plugin: On This Day
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4859 Add plugin: Flowcharts
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5135 Add plugin: Idle Monitor
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made, Skipped code scan

#5216 Add plugin: Thecap cv generator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5248 Add plugin: Last Position
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5287 Add plugin: HTML checkboxes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5293 Add plugin: Checkbox Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5300 Add plugin: Extended File Support
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5250 Add plugin: PDF Writer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5291 Add plugin: PDF Paste
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5497 Add plugin: Vault File Renamer
  community-plugins.json
Labels: Ready for review, plugin

#5232 Add plugin: Hide Commands in Menu
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5268 Add plugin: FolderFile Splitter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5295 Add plugin: Daily Routine
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5312 Add plugin: LLM Tagger
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5318 Add plugin: Paste Quote
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5413 Add plugin: YourPulse - Your Writing Activity Visualised
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5456 Add theme: Sad Machine Druid
  community-css-themes.json
Labels: Ready for review, theme

#5500 Add theme: flexcyon
  community-css-themes.json
Labels: Ready for review, theme

#5258 Add plugin: Rsync
  community-plugins.json
Labels: Validation failed, plugin, Changes made

#5317 Add plugin: Extended Markdown Syntax
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5338 Add plugin: My Thesaurus
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5100 Add plugin: Media Viewer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5328 Add plugin: GridExplorer
  community-plugins.json
Labels: Ready for review, plugin, Changes made
