Repository obsidianmd/obsidian-releases, pull requests merged in 2025-08, with the labels that each got.

#6824 Add plugin: Publish Note to Mowen Note
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6313 Add plugin: Cloud sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6799 Add plugin: Auto Close Tags
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6597 Add plugin: Checkbox Autochecker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6796 Add plugin: Pixel Pets
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6950 Add plugin: Quick Emoji
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7300 Add theme: Baseline
  community-css-themes.json
Labels: Ready for review, theme, Changes made

#6939 Add plugin: Private AI
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6940 Add plugin: Custom Slides
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7341 Add theme: Noctis
  community-css-themes.json
Labels: Ready for review, theme

#6483 Add plugin: Scrolls To Nav Top
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6709 Add plugin: Mini-RAG
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6844 Add plugin: LLM Shortcut
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6865 Add plugin: Bibtex Entry View
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6914 Add plugin: Linked Note Exporter
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6587 Add plugin: Linear
  community-plugin-stats.json
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#6510 Add plugin: Kindle Vocab
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#7548 Add theme: Everforest Spruce
  community-css-themes.json
Labels: Ready for review, theme

#6781 Add plugin: AI Image OCR
  community-plugin-stats.json
  community-plugins.json
Labels: Ready for review, plugin, Changes made
