Repository obsidianmd/obsidian-releases, pull requests merged in 2025-01, with the labels that each got.

#5051 Add theme: Playground
  community-css-themes.json
Labels: Ready for review, theme, Changes made

#4530 Add plugin: Replicate
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4595 Add plugin: Click Hint
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4639 Add plugin: BetaX NAS Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4759 Add plugin: Structured Copy: Files & Folders
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4828 Add plugin: Atomizer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4888 Add plugin: Jira Issue managing
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4892 Add plugin: External File Embed and Link
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4895 Add plugin: Photopea Editor
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4902 Add plugin: Open Editors
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5053 Add theme: Ukiyo
  community-css-themes.json
Labels: Ready for review, theme

#4314 Add plugin: BuJo Bullets
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4341 Add plugin: AI-AnkiSync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4760 Add plugin: Dynamic Outline
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4844 Add plugin: Syncthing status icon
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4856 Add plugin: Simple Disguise
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4861 Add plugin: KoReader Highlight Importer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4935 Add plugin: Local Any Files
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4941 Add plugin: Publish to Discourse
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4947 Add plugin: MoreDraw
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4344 Add plugin: Clojure Plugin Host
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4940 Add plugin: Hoarder Sync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4943 Add plugin: Tencent COS for Imgur
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4954 Add plugin: Tengwar
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4959 Add plugin: Circuit Sketcher
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4965 Add plugin: Christmas
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4973 Add plugin: Type Chinese Like English
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4978 Add plugin: External Rename Handler
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4980 Add plugin: New Filename
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4625 Add plugin: Note Annotations
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4686 Add plugin: pycalc
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4845 Add plugin: Frontmatter Markdown Links
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4864 Add plugin: Clipper Catalog
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4906 Add plugin: Hanko
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4964 Add plugin: Easy Test
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4979 Add plugin: Keep the Rhythm
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4983 Add plugin: Boardgame Search
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4984 Add plugin: Sentinel
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4996 Add plugin: ShaahMaat-md
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made, Skipped code scan

#5195 Add theme: Zen
  community-css-themes.json
Labels: Ready for review, theme

#5186 Add theme: OLED.Black
  community-css-themes.json
Labels: Ready for review, theme

#5204 Add theme: Sei
  community-css-themes.json
Labels: Ready for review, theme

#4797 Add plugin: Anchor Link Display Text
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4955 Add plugin: Friend Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#4998 Add plugin: Backgroundset
  community-plugins.json
Labels: Changes requested, plugin, Additional review required, Changes made, Skipped code scan

#5001 Add plugin: Mahgen Renderer
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5002 Add plugin: Recent Notes
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5007 Add plugin: Cooksync
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5010 Add plugin: Paperless
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5011 Add plugin: Missing Link File Creator
  community-plugins.json
Labels: Ready for review, plugin, Changes made

#5046 Add plugin: Goal Tracker
  community-plugins.json
Labels: Ready for review, plugin, Changes made
